.top{ background:url(/images/demo/bg_top.png) repeat-x top;}
.footer{ background:url(/images/demo/bg_bottom.png) repeat-x left bottom;}


#dummy{ margin-left:150px; padding:20px;}
#dummy label{ width:200px; display:inline-block; text-align:right; margin:0 10px 0 0;}
#dummy input[type="submit"]{}
input.css3button {
	cursor:pointer;
		margin-top:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 13px;
	background: -moz-linear-gradient(
		top,
		#fd5818 0%,
		#ef4300);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fd5818),
		to(#ef4300));
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #fb881c;
	-moz-box-shadow:
		0px 1px 5px rgba(000,000,000,0.2),
		inset 0px 0px 3px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 1px 5px rgba(000,000,000,0.2),
		inset 0px 0px 3px rgba(255,255,255,0);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 3px rgba(0,0,0,0.4);
}


input.css3button:hover {
	background: -moz-linear-gradient(
		top,
		#ef4300 0%,
		#fd5818);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ef4300),
		to(#fd5818);
	}



	
	
input.css3button2 {
	cursor:pointer;
		margin-top:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 13px;
	background: -moz-linear-gradient(
		top,
		#1ea9ba 0%,
		#14a5b6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#1ea9ba),
		to(#14a5b6));
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #fb881c;
	-moz-box-shadow:
		0px 1px 5px rgba(000,000,000,0.2),
		inset 0px 0px 3px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 1px 5px rgba(000,000,000,0.2),
		inset 0px 0px 3px rgba(255,255,255,0);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 3px rgba(0,0,0,0.4);
}


input.css3button2:hover {
	background: -moz-linear-gradient(
		top,
		#14a5b6 0%,
		#1ea9ba);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#14a5b6),
		to(#1ea9ba);
	}

