header #login a:hover, .dk_container a.dk_toggle:hover { color: #29d5fa }
header #color { background-color: #29d5fa; } 
header #color h2 { background-image: url(../../../images/shop/travel/hd-travel.png); }
#main h3 { color: #29d5fa; }
#topic { color: #29d5fa;  }

#social ul { margin: 30px 0 20px 60px;}
article.quote { background: url(../../../images/shop/travel/bg-quote-left.png) no-repeat left top; }
article.quote .inner { background: url(../../../images/shop/travel/bg-quote-right.png) no-repeat right bottom; padding: 20px 60px; }
a.button.black1, a.button.black2 { background: url(../../../images/shop/bg-button-light_blue.png) no-repeat; color: #fff; }
a.button.black2 { margin: 20px 0 0 60px; }
#three a.button.black1 { margin: 20px 0 0;}
#three a.button:nth-child(2) { margin-left: 60px; }
#one .d-220x160:nth-child(4) { margin-right: 0;  }
.d-676x316 { float: left; margin-right: 20px; }
#two .d-220x160 { margin-right: 0; }

#main #one { padding-top: 10px; }
#main #one td { padding-bottom: 8px; }
.d-220x90 { float: left; position: absolute; left: -10px; top: 10px; z-index: 4; box-shadow: 2px 2px 15px rgba(0,0,0,0.3); }
.d-220x160 { float: none; margin-bottom: 0; margin-right: 18px; }
.d-220x160 a.edit.img { right: 4px; }
#main #one td { padding-right: 18px; padding-bottom: 17px;}
#main #one td:nth-child(2n) { padding-right: 0; }