RewriteEngine On
RewriteBase /

RewriteRule ^index\.php$ - [L]

# uploaded files
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule . index.php [L]


# sample for a file .htaccess in your www root directory
AddType text/html .html
AddHandler server-parsed .html
Options Indexes FollowSymLinks Includes