/* Hospital Page */
#topic { color: #a45a89; }
header #login a:hover, .dk_container a.dk_toggle:hover { color: #a45a89; }
header #color { background-color: #29d5fa; } 
header #color h2 { background-image: url(../../../images/shop/flood/hd-service.png);  }
#main h3 { color: #a45a89;  }
#main h3 cufon { top: -7px; }
#main #five { margin-bottom: 10px; }
#main #five h3 { margin-bottom: 0; height: 35px; }
a.black1 { margin-top: 10px; }
section#three a.black1 { margin-top: 28px; }
section#three #social ul { margin-bottom: 50px; }
#social { position: relative; top: 20px; }
.d-220x160:nth-child(4n+1) { margin-right: 0; }
#one { padding: 0 0 20px; position: relative; }
.d-220x90 { position: absolute; top: 50%; left: 50%; margin: -65px 0 0 -120px; }
.d-820x50 { margin-bottom: 10px; }
.d-940x440 { margin-top: 5px; }
a.button.black1, a.button.black2 { background-image: url(../../../images/shop/bg-button-black2.png); }
a.button.black2 { margin-left: 60px; }
#three td { padding-right: 18px; }
#three td:nth-child(4n) { padding-right: 0; }
.d-460x260:nth-child(2n) { margin-right: 0;  }

.d-460x260:nth-child(2n) a.edit.img { left: auto; right: 5px; }
#one { padding-bottom: 0; }

body {
    background: none repeat scroll 0 0 #f2f2f2;
    
}
section#two{ margin-top: 10px; }
#main {
 background: none repeat scroll 0 0 #ffffff;
}
.submain{
    
    background: url(../../../images/shop/flood/bgmain2.jpg) no-repeat scroll 0 0 transparent;     float: left;      width: 940px; padding-top: 10px; height: 290px;
}
#main section {
    padding:  0;
    border-color: -moz-use-text-color #d9d9d9 #d9d9d9;
}
#main #sectiondiv {
    padding:  0;
    border-color: -moz-use-text-color #d9d9d9 #d9d9d9;
}
footer {
    margin-top: 20px;
    background: url(../../../images/shop/flood/footer-flood.jpg) no-repeat scroll 0 0 transparent;
    width: 940px;
      line-height: 60px;
      padding-right: 10px;
}
 .font.headcontact.white{
     color: #029fc1;
     font-size: 20px;

 }
 .font.contact.white{
     font-size: 14px;
     margin-left: 60px;
     margin-top: 5px;
     
 }
 #map {
     margin-top: 5px;
 }
 
 .d-690x62 {
    height: 25px;
    width: 690px;
}
article.right2 {
    display: block;
    float: right;
    width: 700px;
}
#color p label {
    top:10px;
}
.d-220x38
{
    background:none;
}
.d-460x260 {
    background: url("../../../images/default/powerbee/460-260.jpg") no-repeat scroll 0 0 transparent;
    margin: 0 10px 20px 0;
    
}
.d-208x148 {
    background: url("../../../images/default/powerbee/208-148.jpg") no-repeat scroll 0 0 transparent;
    padding: 0;
    
}

a.edit {
   z-index: 2; 
}
.portfolioItemInfo {
 width: 98%;  
  z-index: 1; 
}