<div id="social-rfcode" data-role="page">
<div data-role="header" id="headerfile" data-position="fixed" data-transition="slide">
<div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick" href="#">function</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
                <li><a href="setting.html"><span>Settings</span></a></li>
                <li><a href="directory.html"><span>Directory</span></a></li>
                <li><a href="recent.html"><span>Recent View</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="index.html#memory"><span>Personal Memory</span></a></li>
                <li><a href="add_friend.html"><span>Add Friend</span></a></li>
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
                <li><a href="location.html"><span>Show Location</span></a></li>
                <li><a href="index.html#shop"><span>Shop</span></a></li>
                <li><a href="help.html"><span>Help</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
</div>
	<div data-role="content">	
        <div  id="contact-bar">
             
                    <fieldset data-role="controlgroup" data-type="horizontal">
                             <input type="radio" name="radio-choice-a" id="radio-choice-a" value="off" />
                             <label for="radio-choice-a"><span class="alignbox"><span class="icon icon-contact">Contact</span></span></label>
                             <input type="radio" name="radio-choice-b" id="radio-choice-b" value="on" checked="checked" />
                             <label for="radio-choice-b"><span class="alignbox"><span class="icon icon-refer">RFCode</span></span></label>
                             <input type="radio" name="radio-choice-c" id="radio-choice-c" value="off" />
                             <label for="radio-choice-c"><span class="alignbox"><span class="icon icon-qr">QRCode</span></span></label>
                    </fieldset>
                    
       </div>
		<h2>My Reference Code</h2>
		<div class="subpage">
         <div class="show-rfcode" align="center">xxxx-xxxx-xxxx</div>
		</div>
        <h2>Add Friend by Reference Code</h2>
        <div class="subpage">
       <p>
			<label for="input-refercode">Code</label>
			<input type="text" name="refercode" id="refercode" />
		</p><br />

        <p>
			<input type="submit" value="Add" id="" data-inline="" />
        </p>
		</div>
	</div><!-- /content -->
</div><!-- /page -->