<div id="calendar" data-role="page">
<div data-role="header" id="headerfile" data-position="fixed">
<div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick" href="#">function</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
                <li><a href="setting.html"><span>Settings</span></a></li>
                <li><a href="directory.html"><span>Directory</span></a></li>
                <li><a href="recent.html"><span>Recent View</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="memory.html"><span>Personal Memory</span></a></li>
                <li><a href="add_friend.html"><span>Add Friend</span></a></li>
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
                <li><a href="location.html"><span>Show Location</span></a></li>
                <li><a href="shop.html"><span>Shop</span></a></li>
                <li><a href="help.html"><span>Help</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
</div>
	<div data-role="content">	
		<h2>Itenary</h2>
        <div id="calendar2">
		<table>
			<thead>
				<tr>
					<th><a href="#" class="button prev_month">Previous Month</a></th>
					<th>October 2011</th>
					<th><a href="#" class="button next_month">Next Month</a></th>
				</tr>
			</thead>
			<tbody>
				<td colspan="3">

						<thead>
							<tr>
								<th class="grey">Mon</th>
								<th>Tue</th>
								<th>Wed</th>
								<th>Thu</th>
								<th>Fri</th>
								<th>Sat</th>
								<th class="red">Sun</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="grey">26</td>
								<td class="grey">27</td>
								<td class="grey">28</td>
								<td class="grey">29</td>
								<td class="grey">30</td>
								<td>1</td>
								<td>2</td>
							</tr>
							<tr>
								<td>3</td>
								<td>4</td>
								<td>5</td>
								<td>6</td>
								<td>7</td>
								<td>8</td>
								<td>9</td>
							</tr>
							<tr>
								<td>10</td>
								<td>11</td>
								<td>12</td>
								<td>13</td>
								<td class="event1">14</td>
								<td class="event2">15</td>
								<td class="event2">16</td>
							</tr>
							<tr>
								<td>17</td>
								<td>18</td>
								<td>19</td>
								<td>20</td>
								<td>21</td>
								<td>22</td>
								<td>23</td>
							</tr>
							<tr>
								<td class="event2">24</td>
								<td class="event2">25</td>
								<td class="event2">26</td>
								<td>27</td>
								<td>28</td>
								<td class="event3">29</td>
								<td>30</td>
							</tr>
							<tr>
								<td>31</td>
								<td class="grey">1</td>
								<td class="grey">2</td>
								<td class="grey">3</td>
								<td class="grey">4</td>
								<td class="grey">5</td>
								<td class="grey">6</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tbody>
		</table>
        </div>
		<div class="relative">
			<h2 id="activity">Activity <a href="#" class="button share">Share</a></h2>
			<ul id="share" class="h">
				<li><a href="#">infotstant</a></li>
				<li><a href="#">facebook</a></li>
				<li><a href="#">twitter</a></li>
				<li><a href="#">google+</a></li>
				<li><a href="#">email</a></li>
			</ul>
		</div> <!-- .relative -->
		<div class="subpage">
			<ul class="v">
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-01.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Title</a></strong><br />
						Description
						<ul class="h">
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go">Go</a></li>
							<li><a href="#" class="button favorite">Favorite</a></li>
						</ul>
				</li>
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-01.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Title</a></strong><br />
						Description
						<ul class="h">
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go">Go</a></li>
							<li><a href="#" class="button favorite">Favorite</a></li>
						</ul>
				</li>
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-01.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Title</a></strong><br />
						Description
						<ul class="h">
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go">Go</a></li>
							<li><a href="#" class="button favorite">Favorite</a></li>
						</ul>
				</li>
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-01.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Title</a></strong><br />
						Description
						<ul class="h">
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go">Go</a></li>
							<li><a href="#" class="button favorite">Favorite</a></li>
						</ul>
				</li>
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-01.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Title</a></strong><br />
						Description
						<ul class="h">
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go">Go</a></li>
							<li><a href="#" class="button favorite">Favorite</a></li>
						</ul>
				</li>
			</ul>
		</div> <!-- /subpage -->
	</div><!-- /content -->
	<script src="jquery.scrollTo.js"></script>
	<script>
	jQuery(document).ready(function($){ 
		$('.event1, .event2, .event3').click(function() { 
		 	$('.relative, .subpage').fadeIn(300);
		 	$.scrollTo('#activity',800);
		 })
	});
	</script>
</div><!-- /page -->