<div id="promotion" data-role="page">
    <div data-role="header" data-position="fixed" data-fullscreen="true" data-transition="slide">
        <div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick2" href="#">Place</a></li>
                    <li><a class="functionclick" href="#">Member</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
            	<li><a href="message.html"><span>Message</span></a></li>
                <li><a href="index.html#memory"><span>My Memory</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="profile.html"><span>Friends</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="setting.html"><span>Settings</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        <div  id="function2">
            <ul class="v">   
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="index.html#shop"><span>Shop</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="#"><span>Coupon</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
    	</div><!-- /header -->
	<div data-role="content">	
       <h2>Coupon</h2>
       <div class="subpage">
       <ul id="searchresulthtml" class="v">
       <li><a class="thumb" href="landing.html?shopurl=tesry"><img alt="tesry" src="http://www.infostant.com/images/shop_c/tesry/resize/thumb5.jpg"></a><strong><a href="landing.html?shopurl=tesry">tesry</a></strong><br>Time. null<br>Tel. null<br>null, กรุงเทพมหานคร <ul class="h"><li><a href="#" class="button go share2">Go</a><ul class="" id="share2"><li><a href="javascript:openshare('thebonanzakhaoyai','infostant')">infotstant</a></li><li><a href="javascript:openshare('thebonanzakhaoyai','facebook')">facebook</a></li><li><a href="javascript:openshare('thebonanzakhaoyai','twitter')">twitter</a></li><li><a href="javascript:openshare('thebonanzakhaoyai','google')">google+</a></li><li><a href="javascript:openshare('thebonanzakhaoyai','email')">email</a></li></ul></li><li><a class="button delete" href="#"></a></li></ul></li>
      <li><a class="thumb" href="landing.html?shopurl=tesry"><img alt="tesry" src="http://www.infostant.com/images/shop_c/tesry/resize/thumb5.jpg"></a><strong><a href="landing.html?shopurl=tesry">tesry</a></strong><br>Time. null<br>Tel. null<br>null, กรุงเทพมหานคร <ul class="h"><li><a href="#" class="button go share2">Go</a><ul class="" id="share2"><li><a href="javascript:openshare('thebonanzakhaoyai','infostant')">infotstant</a></li><li><a href="javascript:openshare('thebonanzakhaoyai','facebook')">facebook</a></li><li><a href="javascript:openshare('thebonanzakhaoyai','twitter')">twitter</a></li><li><a href="javascript:openshare('thebonanzakhaoyai','google')">google+</a></li><li><a href="javascript:openshare('thebonanzakhaoyai','email')">email</a></li></ul></li><li><a class="button delete" href="#"></a></li></ul></li>
		<li><a class="thumb" href="landing.html?shopurl=tesry"><img alt="tesry" src="http://www.infostant.com/images/shop_c/tesry/resize/thumb5.jpg"></a><strong><a href="landing.html?shopurl=tesry">tesry</a></strong><br>Time. null<br>Tel. null<br>null, กรุงเทพมหานคร <ul class="h"><li><a href="#" class="button go share2">Go</a><ul class="" id="share2"><li><a href="javascript:openshare('thebonanzakhaoyai','infostant')">infotstant</a></li><li><a href="javascript:openshare('thebonanzakhaoyai','facebook')">facebook</a></li><li><a href="javascript:openshare('thebonanzakhaoyai','twitter')">twitter</a></li><li><a href="javascript:openshare('thebonanzakhaoyai','google')">google+</a></li><li><a href="javascript:openshare('thebonanzakhaoyai','email')">email</a></li></ul></li><li><a class="button delete" href="#"></a></li></ul></li>
       </ul>
       </div>
       </div>
       
       
       
       
     
        
  </div><!-- /content -->
</div><!-- /page -->