

<div id="directory" data-role="page">

<div data-role="header" id="headerfile" data-position="fixed">
<div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick" href="#">function</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
                <li><a href="setting.html"><span>Settings</span></a></li>
                <li><a href="directory.html"><span>Directory</span></a></li>
                <li><a href="recent.html"><span>Recent View</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="memory.html"><span>Personal Memory</span></a></li>
                <li><a href="add_friend.html"><span>Add Friend</span></a></li>
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
                <li><a href="location.html"><span>Show Location</span></a></li>
                <li><a href="shop.html"><span>Shop</span></a></li>
                <li><a href="help.html"><span>Help</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
</div>

	<div data-role="content">	
		<h2>Directory</h2>
		<ul class="h">
			<li><a href="cat_list.html" data-transition="slide">Home</a></li>
			<li><a href="cat_list.html" data-transition="slide">Hotel</a></li>
			<li><a href="cat_list.html" data-transition="slide">Restaurant</a></li>
			<li><a href="cat_list.html" data-transition="slide">Coffee</a></li>
			<li><a href="cat_list.html" data-transition="slide">Shop</a></li>
			<li><a href="cat_list.html" data-transition="slide">Fashion</a></li>
			<li><a href="cat_list.html" data-transition="slide">Hospital</a></li>
			<li><a href="cat_list.html" data-transition="slide">Spa Beauty</a></li>
			<li><a href="cat_list.html" data-transition="slide">Service</a></li>
			<li><a href="cat_list.html" data-transition="slide">Commu</a></li>
			<li><a href="cat_list.html" data-transition="slide">Sport</a></li>
			<li><a href="cat_list.html" data-transition="slide">Seminar</a></li>
			<li><a href="cat_list.html" data-transition="slide">Travel</a></li>
			<li><a href="cat_list.html" data-transition="slide">Education</a></li>
			<li><a href="cat_list.html" data-transition="slide">Other</a></li>
			<li><a href="cat_list.html" data-transition="slide">Search</a></li>
		</ul>
	</div><!-- /content -->
</div><!-- /page -->
