

<div id="flipboard" data-role="page">

    <div data-role="header" data-position="fixed" data-fullscreen="true" data-transition="slide">
        <div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick2" href="#">Place</a></li>
                    <li><a class="functionclick" href="#">Member</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
            	<li><a href="message.html"><span>Message</span></a></li>
                <li><a href="index.html#memory"><span>Personal Memory</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="profile.html"><span>Profile</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="setting.html"><span>Settings</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        <div  id="function2">
            <ul class="v">   
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="index.html#shop"><span>Shop</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="#"><span>Coupon</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
    	</div><!-- /header -->
	<div data-role="content">	
		<ul class="h">
			<li><a href="#"><img src="images/img-group-03.jpg" alt="img-group-03" /></a></li>
			<li><a href="#"><img src="images/img-group-04.jpg" alt="img-group-03" /></a></li>
			<li><a href="#"><img src="images/img-group-05.jpg" alt="img-group-03" /></a></li>
			<li><a href="#"><img src="images/img-group-06.jpg" alt="img-group-03" /></a></li>
			<li><a href="#"><img src="images/img-group-07.jpg" alt="img-group-03" /></a></li>
			<li><a href="#"><img src="images/img-group-08.jpg" alt="img-group-03" /></a></li>
		</ul>
	</div><!-- /content -->
</div><!-- /page -->
