<!DOCTYPE html> 
<html> 
    <head> 
    <title>Infostant</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta  name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 
    
    <link rel="stylesheet" href="jquery.mobile.min.css" />
    <link rel="stylesheet" href="jquery.mobile.structure.min.css" />
    <link rel="stylesheet" href="jquery.mobile.min.style.css" />
    <link rel="stylesheet" href="css/royal-slider-6.0.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="jquery.mobile.simpledialog.min.css" />
      <script src="jquery-1.7.1.min.js" charset="utf-8"></script>
    <script src="jquery.animate-enhanced.min.js" charset="utf-8"></script>
    
    <script src="jquery.mobile.min.js" charset="utf-8"></script>
    <script src="jquery.easing.1.3.min.js" charset="utf-8"></script>
    <script src="royal-slider-6.0.min.js" charset="utf-8"></script>  


    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
     
    <script src="plugins.js" charset="utf-8"></script> 

    <script src="phonegap-1.2.0.js" charset="utf-8"></script> 
      <script src="googlemap.js" charset="utf-8"></script> 
      <script src="js/cufon-yui.js" charset="utf-8"></script> 
       <script src="jquery.mobile.simpledialog.js" charset="utf-8"></script>
         <script src="ChildBrowser.js" charset="utf-8"></script>
       <script src="js/mobiscroll-1.5.3.js" type="text/javascript"></script>

       <script src="jquery.scrollTo.js" type="text/javascript"></script>
       <script src="js/jMonthCalendar-1.0.0.js" type="text/javascript"></script>

    <link href="css/mobiscroll-1.5.3.css" rel="stylesheet" type="text/css" />
       

    <script type="text/javascript" charset="utf-8">



var myObject ; 
var map ;
var beaches;
var initialLocation;
var myLatLng;
var directionDisplay;
var directionsService = new google.maps.DirectionsService();
var myObject2;
var toend;
var setnow=0;
var nowcenter=0;
var nowzoom=0;

var webdir="http://www.infostant.com";
var pictureSource;   // picture source
var destinationType; // sets the format of returned value  
var size2;
var shopurl2;
var group2;
 var childBrowser;
document.addEventListener("deviceready",onDeviceOk,false);
function onDeviceOk()
{        
         childBrowser = ChildBrowser.install();
}
function setLoadBrowser(url)
        {
            var strpath=window.location;
            alert(strpath);
           
            try {
                //both of these should work...
                //window.plugins.childBrowser.showWebPage(url);
                // alert(url);
           // childBrowser.showWebPage('http://google.co.th/');
                //window.plugins.childBrowser.showWebPage("www/pdf/94556150.pdf");
            window.plugins.childBrowser.showWebPage(strpath);
                //alert('1.1');
            }
            catch (err)
            {
                // alert('2');
                alert(err);
            }
        }
function setShopEdit(){
    
 onDeviceReady2();
}
function setyoutube(val){
    $('#videotext').html('<iframe width="446" height="300" id="video"  src="http://www.youtube.com/embed/'+$.trim(val)+'?wmode=transparent" frameborder="0" allowfullscreen></iframe>');
   
    
    }
function getUrlVars2() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
    }
function onDeviceReady2() {

    //   pictureSource=navigator.camera.PictureSourceType;
     //  destinationType=navigator.camera.DestinationType;
     
           if(localStorage.getItem("userId"))
              {
                   $.post(webdir+'/ajax/getshopbyshopurlformobile',{shopurl:getUrlVars2()['shopurl'],mid:localStorage.getItem("userId") }, function(data) {
                            
                            var myObject = eval('(' + data + ')');
                            
                             setdata2(myObject);

                            
                   });  
                   $('#savetext').click(function() {   
                    
                    $.post(webdir+'/ajax/savetext',{shopurl:getUrlVars2()['shopurl'],mid:localStorage.getItem("userId"),target:$('#target').val(),setdata:$('#textarea').val(),filename:'index_th' }, function(data) {
                            
                          //  var myObject = eval('(' + data + ')');
                            
                         //    setdata(myObject);
                            $('#'+$('#target').val()).html($('#textarea').val());
                            $.fancybox.close();
                            
                            
                   });
                       }); 
                   
                   $('#savetext2').click(function() {   
                    
                    $.post(webdir+'/ajax/savetext',''+$('#file-form').serialize()+'&filename=index_th&shopurl='+getUrlVars2()['shopurl']+'&target=address-tel-emailshop-website&mid='+localStorage.getItem("userId"), function(data) {
                                    $('#address').html( $('#text-address').val());
                                    $('#tel').html($('#text-tel').val()); 
                                    $('#emailshop').html($('#text-emailshop').val()); 
                                    $('#website').html($('#text-website').val()); 
                            $.fancybox.close();
                            
                   });    
                       
                    
                       
                   });
                   
                    $('#savevideo').click(function() {
        var embed=testUrlForMedia($('#youtube').val());
        //alert(embed.id);
       if(embed.id)
        {
        
        $.post(webdir+'/ajax/savevideo','setdata='+embed.id+'&filename=index_th&shopurl='+getUrlVars2()['shopurl']+'&target=video&mid='+localStorage.getItem("userId"), function(reposnse)            
         {
         eval("var obj1="+reposnse); 
          if(obj1.resposne){
              setyoutube(embed.id);   
              $.fancybox.close();
          }

          }); 
        }  
    
              
              });
                     
          
              }
        
    }
function testUrlForMedia(pastedData) {
var success = false;
var media   = {};
if (pastedData.match('http://(www.)?youtube|youtu\.be')) {
    if (pastedData.match('embed')) { youtube_id = pastedData.split(/embed\//)[1].split(/[?&]/)[0]; }
    else { youtube_id = pastedData.split(/v\/|v=|youtu\.be\//)[1].split(/[?&]/)[0]; }
    media.type  = "youtube";
    media.id    = youtube_id;
    success = true;
}
else if (pastedData.match('http://(player.)?vimeo\.com')) {
    vimeo_id = pastedData.split(/video\/|http:\/\/vimeo\.com\//)[1].split(/[?&]/)[0];
    media.type  = "vimeo";
    media.id    = vimeo_id;
    success = true;
}
else if (pastedData.match('http://player\.soundcloud\.com')) {
    soundcloud_url = unescape(pastedData.split(/value="/)[1].split(/["]/)[0]);
    soundcloud_id = soundcloud_url.split(/tracks\//)[1].split(/[&"]/)[0];
    media.type  = "soundcloud";
    media.id    = soundcloud_id;
    success = true;
}
if (success) { return media; }
else {
 //alert("No valid media id detected");
}
return false;
}
function setdata2(myObject){
             var scriptjava='';
              $('#csscode').attr('href','http://www.infostant.com/css/shop/'+myObject.catename+'/'+myObject.catename+'.css');
              
              if(myObject.fontjs){
              scriptjava= '<script  src="mylibs/'+myObject.fontjs+'"><\/script>';
              }
              $('#main').html(scriptjava+myObject.html);
              if(myObject.fontjs){
              Cufon.replace('#main h3', { fontFamily:myObject.fonttext, fontSize: myObject.fontsize+'px' });
              Cufon.now();
              }

                            $('#main').removeClass('ui-content');
                            $('#setdata').html(myObject.setdata); 
                            $('.galleryimg').fancybox();
                            
                            $("#color h2").css('background-image',"url("+webdir+"/images/shop/"+myObject.catname_en+"/hd-"+myObject.catname_en+".png)");
                            $("#main h3").css('color',"#"+myObject.color+"");
                            $("#color").css('background-color',"#"+myObject.color+"");
                            
                            $('#bodydiv').attr('class',myObject.bodyclass);
                            $(".ir.edit.map").click(function() {
                                
                            $.fancybox({

                                    'title'  : this.title,
                                   'href':'google.html',
                                   'type':'iframe' ,
                                   'width':'100%',
                                   'height':'100%'
                            
                            
                            }); 
                                 
                            });
                            $(".ir.edit.vdo").click(function() {
                            if($('#video').attr("src"))
                            {  
           
       var embed=testUrlForMedia($('#video').attr("src"));       
      if(embed)
        {
            $('#youtube').val('http://www.youtube.com/embed/'+embed.id);    
        }            
         $.fancybox({
                                   'href':'#youtubedata','type':'inline'
                       });   
           
       }
                            
                             
                            });

                            
                            
                            
                            $(".ir.edit.text").click(function() {
                                if($(this).attr('title')=="popup5")
                                {
                                    $('#text-address').val($('#address').html());
                                    $('#text-tel').val($('#tel').html()); 
                                    $('#text-emailshop').val($('#emailshop').html()); 
                                    $('#text-website').val($('#website').html()); 
                                        $.fancybox({

                                    'title'  : this.title,
                                   'href':'#datatext2','type':'inline'}); 
                                }else
                                {
                                $('#target').val($(this).attr('title'));
                               $('#textarea').val($('#'+$(this).attr('title')).html());
                              // $("#datatext").fancybox().trigger('click');

                               $.fancybox({

                                    'title'  : this.title,
                                   'href':'#datatext','type':'inline'}); 
                                }
                                
                            });
                              onLoadMaps();
                                         var viewport = $("head meta[name=viewport]"); 
                                         
                                         
                                         
                                         if (navigator.userAgent.toLowerCase().match(/android/)) {
                                       
                                       //  document.write('<script charset="utf-8" src="android\/phonegap-1.2.0.js"><\/script>');
                                   //      viewport.attr('content', 'width=320, initial-scale=0.35, maximum-scale=10.0, minimum-scale=0.25, user-scalable=1'); 
                                         } else if (navigator.userAgent.toLowerCase().match(/iphone/) ) {
                                       //  document.write('<script charset="utf-8" src="ios\/phonegap-1.2.0.js"><\/script>');
                                   
                                  //        viewport.attr('content', 'width=320, initial-scale=0.35, maximum-scale=10.0, minimum-scale=0.25, user-scalable=1'); 
                                       
                                         }
                                         else if (navigator.userAgent.toLowerCase().match(/ipad/) ) {
                                         //  document.write('<script charset="utf-8" src="ios\/phonegap-1.2.0.js"><\/script>');
                              
                                       //  viewport.attr('content', 'width=1024, initial-scale=0.8, maximum-scale=10.0, minimum-scale=0.25, user-scalable=1'); 
                                         }
                                         
   var myScroll;
    function loaded() {
        myScroll = new iScroll('wrapper', { zoom:true,zoomMin:0.35 });
    }
    document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    document.addEventListener('DOMContentLoaded', loaded, false);
                                         
                                         
                                        // viewport.attr('content', 'width=320, initial-scale=0.35, maximum-scale=10.0, minimum-scale=0.25, user-scalable=1'); 
                  
    }

function setMap(){
    $('#hidden_link').fancybox({
     'width' : '310',
     'height' :'950',
     'centerOnScroll':true,
 
     'onClosed': function() {
   var src2="http://www.infostant.com/images/default/icons/spiral.gif";
    $("#mapimage").attr("src",src2);
  } 
    
});
$.post('http://www.infostant.com/ajax/getlatbyshopforiphone',{shopurl:getUrlVars2()['shopurl'],category:getUrlVars2()['category'] },function(data) {   

myObject2 = eval('(' + data + ')'); 
var temp=myObject2.json2;
myObject=eval('(' + temp + ')'); 
temp=myObject2.json;
beaches=[eval(temp)];        
//document.addEventListener("deviceready",onDeviceReady,false);  
 onDeviceReady();

});
}
function getlocation(position){
   initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);

   calcRoute();   
    //  map.setCenter(initialLocation); 
  //    myMarkers(map,initialLocation); 
      
} 
function getlocation2(position){
    $('#lat').val(position.coords.latitude);
    $('#lat').val(position.coords.longitude);
   //initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
   var myOptions = {
    zoom: 15,
    center: new google.maps.LatLng(position.coords.latitude,position.coords.longitude),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map2.setOptions(myOptions);
  var myLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  marker.setPosition(myLatLng);
 //  calcRoute();   
    //  map.setCenter(initialLocation); 
  //    myMarkers(map,initialLocation); 
      
} 
function getdetect(){
      
       if(navigator.geolocation) {

           
           
    browserSupportFlag = true;
    var options =  { maximumAge: 3000, timeout: 5000, enableHighAccuracy: true };

    navigator.geolocation.getCurrentPosition(getlocation,handleNoGeolocation,options);
  // Try Google Gears Geolocation
  } 
      else if (google.gears) {
    
    browserSupportFlag = true;
    var geo = google.gears.factory.create('beta.geolocation');
    geo.getCurrentPosition(function(position) {
      initialLocation = new google.maps.LatLng(position.latitude,position.longitude);
      map.setCenter(initialLocation);
      myMarkers(map,initialLocation,beaches); 
    }, function() {
      handleNoGeoLocation(browserSupportFlag);
    });
  // Browser doesn't support Geolocation
  }
   else {
 //  alert('3');
    browserSupportFlag = false;
    handleNoGeolocation(browserSupportFlag);
  }
  
  function handleNoGeolocation(errorFlag) {
     // alert('code: '    + errorFlag.code    + '\n' +
     //         'message: ' + errorFlag.message + '\n');
     
     if(errorFlag.code==2)
     {
         navigator.notification.alert('เปิด GPS ด้วยค่ะ');  
     }else
     {
         alert('error');
     }

    //map.setCenter(initialLocation);
  }
  //var t=setTimeout("getdetect()",5000) ; 
}
function getmylocation(){
     if(navigator.geolocation) {

           
           
    browserSupportFlag = true;
 //   var options =  { maximumAge: 3000, timeout: 50000, enableHighAccuracy: true };
   // alert('1');
    navigator.geolocation.getCurrentPosition(getlocation2,handleNoGeolocation);
  // Try Google Gears Geolocation
  } else if (google.gears) {
 
   //alert('2');
  // Browser doesn't support Geolocation
  } else {

 //  alert('3');   
      
  } 
  
    function handleNoGeolocation(errorFlag) {
     // alert('code: '    + errorFlag.code    + '\n' +
     //         'message: ' + errorFlag.message + '\n');
     
     if(errorFlag.code==2)
     {
         navigator.notification.alert('เปิด GPS ด้วยค่ะ');  
     }else
     {
         alert(errorFlag.code);
     }

    //map.setCenter(initialLocation);
  }
    
} 
function onDeviceReady(){

   directionsDisplay = new google.maps.DirectionsRenderer({preserveViewport: true });   
  var myOptions = {
    zoom: 20,
    center: new google.maps.LatLng(myObject2.latnew,myObject2.lngnew),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
   map = new google.maps.Map(document.getElementById("map_canvas"),
                                myOptions);
    directionsDisplay.setMap(map);
  //   myMarkers() ;
     
     setMarkers(map, beaches);
     setMarkerPoint();
     getdetect();
     
     google.maps.event.addListener(map, 'center_changed', function() {
         
         nowcenter=map.getCenter();
         
     });  
     
     
     google.maps.event.addListener(map, 'zoom_changed', function() {
         
         nowzoom=map.getZoom();
         
     });                        
                                
                                
  
}
function setMarkerPoint(){
     if(beaches.length==1)
   {
   for (var i = 0; i < beaches.length; i++) { 
    var beach = beaches[i];
    var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
    toend =myLatLng;
 
   }
   }
}
function myMarkers(){
    
    var image = new google.maps.MarkerImage('http://www.infostant.com/images/default/icons/walk.png',
      // This marker is 20 pixels wide by 32 pixels tall.
      new google.maps.Size(38,40),
      // The origin for this image is 0,0.
      new google.maps.Point(0,0),
      // The anchor for this image is the base of the flagpole at 0,32.
      new google.maps.Point(0, 20));
    var shape = {
      coord: [1, 1, 1, 20, 18, 20, 18 , 1],
      type: 'poly'
  };   
   // var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
    var marker = new google.maps.Marker({
        position: initialLocation,
        map: map,
        icon: image,
        shape: shape,
        title: 'คุณอยู่ที่นี่',
        zIndex: 10
    });
    
    google.maps.event.addListener(marker, 'click', function() {
      //  alert(marker.getPosition().lat());
    //    setdata(marker);
            
   //     $("#hidden_link").trigger('click');
        toggleBounce(marker);
  });
  
}
function calcRoute() {
   // var start = document.getElementById("start").value;
    //var end = document.getElementById("end").value;
    var request = {
        origin:initialLocation, 
        destination:toend,
        travelMode: google.maps.DirectionsTravelMode.DRIVING
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        if(nowcenter)
        {
         if(nowzoom)
         {
           map.setZoom(nowzoom);  
         }else
         {
           map.setZoom(20);  
         }
          
          map.setCenter(nowcenter);  
            
        }else
        {
            map.setZoom(20);
        map.setCenter(initialLocation);
        }
        
             
      }
    });
  }
function setMarkers(map, locations) {
  // Add markers to the map
 // alert(locations);
  // Marker sizes are expressed as a Size of X,Y
  // where the origin of the image (0,0) is located
  // in the top left of the image.

  // Origins, anchor positions and coordinates of the marker
  // increase in the X direction to the right and in
  // the Y direction down.
  var dataset=myObject[1]; 
 //alert(dataset.icon);
  var image = new google.maps.MarkerImage('http://www.infostant.com/images/default/icons/'+dataset.icon,
      // This marker is 20 pixels wide by 32 pixels tall.
      new google.maps.Size(dataset.width, dataset.height),
      // The origin for this image is 0,0.
      new google.maps.Point(0,0),
      // The anchor for this image is the base of the flagpole at 0,32.
      new google.maps.Point(0, 35));
 // var shadow = new google.maps.MarkerImage('images/beachflag_shadow.png',
      // The shadow image is larger in the horizontal dimension
      // while the position and offset are the same as for the main image.
//      new google.maps.Size(37, 32),
//      new google.maps.Point(0,0),
//      new google.maps.Point(0, 32));
      // Shapes define the clickable region of the icon.
      // The type defines an HTML &amp;lt;area&amp;gt; element 'poly' which
      // traces out a polygon as a series of X,Y points. The final
      // coordinate closes the poly by connecting to the first
      // coordinate.
  var shape = {
      coord: [1, 1, 1, 20, 18, 20, 18 , 1],
      type: 'poly'
  };
  for (var i = 0; i < locations.length; i++) {
    var beach = locations[i];
    var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        icon: image,
        shape: shape,
        title: beach[0],
        zIndex: beach[3]
    });
   setevent(marker);
   
  }
}
function setdata(marker){
   map.setCenter(new google.maps.LatLng(marker.getPosition().lat(), marker.getPosition().lng())); 
    var postion=marker.getPosition().toUrlValue();
    var dataset=myObject[marker.getZIndex()];
    
    $("#title").html(dataset.title);
    $(".namepost").html(dataset.namepost);
    $("#description").html(dataset.description);
    $("#emailshop").html(dataset.emailshop);
    $("#tel").html(dataset.tel);
    $("#address").html(dataset.address); 
    $("#shopname").html(dataset.shopname); 
    $("#shopurl").html(dataset.shopurl);   
    var src3=dataset.pic;
    $("#mapimage2").attr("src",src3);
    
   // alert(lat);
  //  var lng=marker.getPosition().lng();
    var src="http://maps.googleapis.com/maps/api/staticmap?&sensor=false&center="+postion+"&zoom=17&size=301x220&sensor=false&markers=icon:http://www.infostant.com/images/default/icons/"+dataset.icon+"|"+postion+"&format=png";
    $("#mapimage").attr("src",src);
    
}
function setevent(marker){
        google.maps.event.addListener(marker, 'click', function() {
      //  alert(marker.getPosition().lat());
        setdata(marker);
            
        $("#hidden_link").trigger('click');
        toggleBounce(marker);
  });
    
}
function stopmarker(marker){
    marker.setAnimation(null);
}
function toggleBounce(marker) {

  if (marker.getAnimation() != null) {
    marker.setAnimation(null);
  } 
  else {
    marker.setAnimation(google.maps.Animation.BOUNCE);
     setTimeout(function() {
      stopmarker(marker);
    },  4000);

  }
}
function setMemoryEdit(){
    //document.addEventListener("deviceready",onDeviceReady2,false);  
 onDeviceReady3();
}
function onPhotoDataSuccess2(imageData) {
      // Uncomment to view the base64 encoded image data
    //  imageURI2=imageData;
      $('#'+size2).html('<img  src="'+"data:image/jpeg;base64,"+imageData+'">'); 
      $.post(webdir+'/ajax/submitpicformiphone2',{
                     pic1:imageData
                     ,size:size2
                     ,meid:getUrlVars2()['meid']
                     ,mid:localStorage.getItem("userId")
                     ,username:localStorage.getItem("username")
                     ,group:group2
                     
      }, function(data) {
                      var myObject = eval('(' + data + ')');    

                            setdata3(myObject);  
                   });
       

}
function setcamera2(){
                   var sizearray=size2.split("x");
               

                navigator.camera.getPicture(onPhotoDataSuccess2, onFail, 
                { quality : 100, 
                destinationType : Camera.DestinationType.DATA_URL, 
                sourceType : Camera.PictureSourceType.CAMERA, 
                allowEdit : true,
                encodingType: Camera.EncodingType.JPEG,
                targetWidth: sizearray[0],
                targetHeight: sizearray[1] }
                );
}
function setalbum2(){
           var sizearray=size2.split("x");
               

                navigator.camera.getPicture(onPhotoDataSuccess2, onFail, 
                { quality : 100, 
                destinationType : Camera.DestinationType.DATA_URL, 
                sourceType : Camera.PictureSourceType.PHOTOLIBRARY, 
                allowEdit : true,
                encodingType: Camera.EncodingType.JPEG,
                targetWidth: sizearray[0],
                targetHeight: sizearray[1] }
                );
    
}
function changeimage(size,group)
{
    size2=size;
    group2=group;
    $('#'+size).simpledialog({
    'mode' : 'bool',
    'prompt' : 'Choose Form ?',
    'fullScreen':'true',
    'useModal': true,
    'buttons' : {
      'Camera': {
        click: function () {
         // $('#dialogoutput').text('OK');
         setcamera2();
        }
      },
      'Album': {
        click: function () {
        //  $('#dialogoutput').text('Cancel');
        setalbum2();
        }
      }
    }
  });
}
function setdata3(myObject){
      var scriptjava='';
      $('#csscode').attr('href','http://www.infostant.com/css/shop/'+myObject.catename+'/'+myObject.catename+'.css');
              
              if(myObject.fontjs){
              scriptjava= '<script  src="mylibs/'+myObject.fontjs+'"><\/script>';
              }
              $('#main').html(scriptjava+myObject.html);
              if(myObject.fontjs){
              Cufon.replace('#main h3', { fontFamily:myObject.fonttext, fontSize: myObject.fontsize+'px' });
              Cufon.now();
              }

                            $('#main').removeClass('ui-content');
                            $('#setdata').html(myObject.setdata); 
                            $('.galleryimg').fancybox();
                            
                            $("#color h2").css('background-image',"none");
                            $("#main h3").css('color',"#"+myObject.color+"");
                            $("#color").css('background-color',"#"+myObject.color+"");
                            
                            $('#bodydiv').attr('class',myObject.bodyclass);
                            $(".ir.edit.map").click(function() {
                                
                            $.fancybox({

                                    'title'  : this.title,
                                   'href':'google.html',
                                   'type':'iframe' ,
                                   'width':'100%',
                                   'height':'100%'
                            
                            
                            }); 
                                 
                            });
                            $(".ir.edit.vdo").click(function() {
                            if($('#video').attr("src"))
                            {  
           
       var embed=testUrlForMedia($('#video').attr("src"));       
      if(embed)
        {
            $('#youtube').val('http://www.youtube.com/embed/'+embed.id);    
        }            
         $.fancybox({
                                   'href':'#youtubedata','type':'inline','autoScale':'true'
                       });   
           
       }
                            
                             
                            });

                            
                            
                            
                            $(".ir.edit.text").click(function() {
                                if($(this).attr('title')=="popup5")
                                {
                                    $('#text-address').val($('#address').html());
                                    $('#text-tel').val($('#tel').html()); 
                                    $('#text-emailshop').val($('#email').html()); 
                                    $('#text-website').val($('#website').html()); 
                                        $.fancybox({

                                    'title'  : this.title,
                                   'href':'#datatext2','type':'inline'}); 
                                }else
                                {
                                $('#target').val($(this).attr('title'));
                               $('#textarea').val($('#'+$(this).attr('title')).html());
                              // $("#datatext").fancybox().trigger('click');

                               $.fancybox({

                                    'title'  : this.title,
                                   'href':'#datatext',
                                    'type':'inline',
                                    'autoScale':'true'
                               
                               }); 
                                }
                                
                            });
                              onLoadMaps();
                                         var viewport = $("head meta[name=viewport]"); 
                                         
                                         
                                         
                                         if (navigator.userAgent.toLowerCase().match(/android/)) {
                                       
                                       //  document.write('<script charset="utf-8" src="android\/phonegap-1.2.0.js"><\/script>');
                                         viewport.attr('content', 'width=320, initial-scale=0.35, maximum-scale=10.0, minimum-scale=0.25, user-scalable=1'); 
                                         } else if (navigator.userAgent.toLowerCase().match(/iphone/) ) {
                                       //  document.write('<script charset="utf-8" src="ios\/phonegap-1.2.0.js"><\/script>');
                                   
                                         viewport.attr('content', 'width=320, initial-scale=0.35, maximum-scale=10.0, minimum-scale=0.25, user-scalable=1'); 
                                       
                                         }
                                         else if (navigator.userAgent.toLowerCase().match(/ipad/) ) {
                                         //  document.write('<script charset="utf-8" src="ios\/phonegap-1.2.0.js"><\/script>');
                              
                                         viewport.attr('content', 'width=1024, initial-scale=0.8, maximum-scale=10.0, minimum-scale=0.25, user-scalable=1'); 
                                         }
}
function onDeviceReady3() {

    //   pictureSource=navigator.camera.PictureSourceType;
     //  destinationType=navigator.camera.DestinationType;
     
           if(localStorage.getItem("userId"))
              {
                   $.post(webdir+'/ajax/getshopbymeidformobile',{meid:getUrlVars2()['meid'],mid:localStorage.getItem("userId") }, function(data) {
                            
                            var myObject = eval('(' + data + ')');
                            
                             setdata3(myObject);

                            
                   });  
                   $('#savetext').click(function() {   
                    
                    $.post(webdir+'/ajax/savetext',{shopurl:getUrlVars2()['shopurl'],mid:localStorage.getItem("userId"),target:$('#target').val(),setdata:$('#textarea').val(),filename:'index_th' }, function(data) {
                            
                          //  var myObject = eval('(' + data + ')');
                            
                         //    setdata(myObject);
                            $('#'+$('#target').val()).html($('#textarea').val());
                            $.fancybox.close();
                            
                            
                   });
                       }); 
                   
                   $('#savetext2').click(function() {   
                    
                    $.post(webdir+'/ajax/savetext',''+$('#file-form').serialize()+'&filename=index_th&shopurl='+getUrlVars2()['shopurl']+'&target=address-tel-emailshop-website&mid='+localStorage.getItem("userId"), function(data) {
                                    $('#address').html( $('#text-address').val());
                                    $('#tel').html($('#text-tel').val()); 
                                    $('#emailshop').html($('#text-emailshop').val()); 
                                    $('#website').html($('#text-website').val()); 
                            $.fancybox.close();
                            
                   });    
                       
                    
                       
                   });
                   
                    $('#savevideo').click(function() {
        var embed=testUrlForMedia($('#youtube').val());
        //alert(embed.id);
       if(embed.id)
        {
        
        $.post(webdir+'/ajax/savevideo','setdata='+embed.id+'&filename=index_th&shopurl='+getUrlVars2()['shopurl']+'&target=video&mid='+localStorage.getItem("userId"), function(reposnse)            
         {
         eval("var obj1="+reposnse); 
          if(obj1.resposne){
              setyoutube(embed.id);   
              $.fancybox.close();
          }

          }); 
        }  
    
              
              });
                     
          
              }
        
    }

</script>
    
</head> 
<body> 

<div id="index" data-role="page"  style="z-index:1100 !important">

    <div data-role="header" data-position="fixed">
        <div>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick" href="#">function</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
                <li><a href="setting.html"><span>Settings</span></a></li>
                <li><a href="directory.html"><span>Directory</span></a></li>
                <li><a href="recent.html"><span>Recent View</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="memory.html"><span>Personal Memory</span></a></li>
                <li><a href="add_friend.html"><span>Add Friend</span></a></li>
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
                <li><a href="location.html"><span>Show Location</span></a></li>
                <li><a href="shop.html"><span>Shop</span></a></li>
                <li><a href="help.html"><span>Help</span></a></li>
                <li ><a id="loglink" href="login.html"><span id="logid">login</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
    </div><!-- /header -->
    

    <div data-role="content">    
            <!-- <img src="images/img-intro2.jpg" alt="img-intro2" /> -->
    </div><!-- /content -->

    <div data-role="footer" data-position="fixed">
        <ul class="h">
            <li><a href="#"><img src="images/img-group-01.jpg" alt="img-group-01" /></a></li>
            <li><a href="#"><img src="images/img-group-02.jpg" alt="img-group-01" /></a></li>
        </ul>
    </div><!-- /footer -->
</div><!-- /page -->

<script type="text/javascript">
$(document).bind("mobileinit", function(){
  $.mobile.touchOverflowEnabled = true;
});        
</script>
</body>
</html>
