<!DOCTYPE html> 
<html> 
    <head> 
    <title>Infostant</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta  name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 
    
    <link rel="stylesheet" href="jquery.mobile.min.css" />
    <link rel="stylesheet" href="jquery.mobile.structure.min.css" />
    <link rel="stylesheet" href="css/royal-slider-6.0.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="jquery.mobile.min.style.css" />

    <link rel="stylesheet" type="text/css" href="jquery.mobile.simpledialog.min.css" />
      <script src="jquery-1.7.1.min.js" charset="utf-8"></script>
    <script src="jquery.animate-enhanced.min.js" charset="utf-8"></script>
    
    <script src="jquery.mobile.min.js" charset="utf-8"></script>
    <script src="jquery.easing.1.3.min.js" charset="utf-8"></script>
    <script src="royal-slider-6.0.min.js" charset="utf-8"></script>  


    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
     
    <script src="plugins.js" charset="utf-8"></script> 

    <script src="phonegap-1.2.0.js" charset="utf-8"></script> 

      <script src="js/cufon-yui.js" charset="utf-8"></script> 
       <script src="jquery.mobile.simpledialog.js" charset="utf-8"></script>
         <script src="ChildBrowser.js" charset="utf-8"></script>
       <script src="js/mobiscroll-1.5.3.js" type="text/javascript"></script>

       <script src="jquery.scrollTo.js" type="text/javascript"></script>
       <script src="js/jMonthCalendar-1.0.0.js" type="text/javascript"></script>

    <link href="css/mobiscroll-1.5.3.css" rel="stylesheet" type="text/css" />

    <script src="iscroll-full.js"></script>
    <script src="iscroll-wrapper.js"></script>
    



   <script type="text/javascript" src="googlemap.js"></script>
    <script type="text/javascript" charset="utf-8">



var myObject ; 
var map ;
var beaches;
var initialLocation;
var myLatLng;
var directionDisplay;
var directionsService = new google.maps.DirectionsService();
var myObject2;
var toend;
var setnow=0;
var nowcenter=0;
var nowzoom=0;

var webdir="http://www.infostant.com";
var pictureSource;   // picture source
var destinationType; // sets the format of returned value  
var size2;
var shopurl2;
var group2;
 var childBrowser;
  var marker2;
  var watchID = null;
document.addEventListener("deviceready",onDeviceOk,false);
document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
document.addEventListener('DOMContentLoaded', function () { setTimeout(checkdomtest, 200); }, false); 

function checkdomtest()
{
    
}
function onDeviceOk(){        
         childBrowser = ChildBrowser.install();
}
function setLoadBrowser(url){
            var strpath=window.location;
            navigator.notification.alert(strpath);
           
            try {
                //both of these should work...
                //window.plugins.childBrowser.showWebPage(url);
                // navigator.notification.alert(url);
           // childBrowser.showWebPage('http://google.co.th/');
                //window.plugins.childBrowser.showWebPage("www/pdf/94556150.pdf");
            window.plugins.childBrowser.showWebPage(strpath);
                //navigator.notification.alert('1.1');
            }
            catch (err)
            {
                // navigator.notification.alert('2');
                navigator.notification.alert(err);
            }
        }
function getUrlVars2() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
    }
function openshare(link,to){
      var linkto;
      if(to=="facebook")
      {
      linkto=    'http://www.facebook.com/sharer/sharer.php?v=4&src=bm&u=http://'+link+'.infostant.com';
      }else if(to=="twitter")
      {
     linkto=    'http://twitter.com/intent/tweet?source=webclient&text=http://'+link+'.infostant.com';     
      }
      else if(to=="google")
      {
    linkto=    'https://m.google.com/app/plus/x/?v=compose&content=http://'+link+'.infostant.com';       
      }
      else if(to=="email")
      {
   linkto=    'mailto:?subject=&body=Link=http://'+link+'.infostant.com';         
      }
    
      window.plugins.childBrowser.showWebPage(linkto);  
  }
function openshare2(link,to){
      var linkto; 
      
      if(to=="facebook")
      {
      linkto=    'http://www.facebook.com/sharer/sharer.php?v=4&src=bm&u=http://www.infostant.com/'+localStorage.getItem('username')+'/memory/'+link;
      }else if(to=="twitter")
      {
     linkto=    'http://twitter.com/intent/tweet?source=webclient&text=http://www.infostant.com/'+localStorage.getItem('username')+'/memory/'+link;    
      }
      else if(to=="google")
      {
    linkto=    'https://m.google.com/app/plus/x/?v=compose&content=http://www.infostant.com/'+localStorage.getItem('username')+'/memory/'+link;      
      }
      else if(to=="email")
      {
   linkto=    'mailto:?subject=&body=Link=http://www.infostant.com/'+localStorage.getItem('username')+'/memory/'+link;        
      }
    
      window.plugins.childBrowser.showWebPage(linkto);  
  }
function setMap(){

$.post(webdir+'/ajax/getlatbyshopforiphone',{shopurl:getUrlVars2()['shopurl'],category:getUrlVars2()['category'] },function(data) {   

myObject2 = eval('(' + data + ')'); 
var temp=myObject2.json2;
myObject=eval('(' + temp + ')'); 
temp=myObject2.json;
beaches=[eval(temp)];        
//document.addEventListener("deviceready",onDeviceReady,false);  
 onDeviceReady();

});
}
function getlocation(position){
   initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
   myMarkers();
   calcRoute();   

      
} 
function getlocation2(position){
    $('#lat').val(position.coords.latitude);
    $('#lng').val(position.coords.longitude);
   //initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
   var myOptions = {
    zoom: 15,
    center: new google.maps.LatLng(position.coords.latitude,position.coords.longitude),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map2.setOptions(myOptions);
  var myLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  marker.setPosition(myLatLng);
 //  calcRoute();   
    //  map.setCenter(initialLocation); 
  //    myMarkers(map,initialLocation); 
      
} 
function getdetect(){
      
       if(navigator.geolocation) {

           
           
    browserSupportFlag = true;
    var options =  { maximumAge: 3000, timeout: 5000, enableHighAccuracy: true };

    navigator.geolocation.getCurrentPosition(getlocation,handleNoGeolocation,options);
  // Try Google Gears Geolocation
  } 
      else if (google.gears) {
    
    browserSupportFlag = true;
    var geo = google.gears.factory.create('beta.geolocation');
    geo.getCurrentPosition(function(position) {
      initialLocation = new google.maps.LatLng(position.latitude,position.longitude);
      map.setCenter(initialLocation);
      myMarkers(map,initialLocation,beaches); 
    }, function() {
      handleNoGeoLocation(browserSupportFlag);
    });
  // Browser doesn't support Geolocation
  }
   else {
 //  navigator.notification.alert('3');
    browserSupportFlag = false;
    handleNoGeolocation(browserSupportFlag);
  }
  
  function handleNoGeolocation(errorFlag) {
     // navigator.notification.alert('code: '    + errorFlag.code    + '\n' +
     //         'message: ' + errorFlag.message + '\n');
     
     if(errorFlag.code==2)
     {
         navigator.notification.alert('เปิด GPS ด้วยค่ะ');  
     }else
     {
         navigator.notification.alert('เปิด GPS ด้วยค่ะ');  
     }

    //map.setCenter(initialLocation);
  }
  //var t=setTimeout("getdetect()",5000) ; 
}
function getmylocation(){
     if(navigator.geolocation) {

           
           
    browserSupportFlag = true;
 //   var options =  { maximumAge: 3000, timeout: 50000, enableHighAccuracy: true };
   // navigator.notification.alert('1');
    navigator.geolocation.getCurrentPosition(getlocation2,handleNoGeolocation);
  // Try Google Gears Geolocation
  } else if (google.gears) {
 
   //navigator.notification.alert('2');
  // Browser doesn't support Geolocation
  } else {

 //  navigator.notification.alert('3');   
      
  } 
  
    function handleNoGeolocation(errorFlag) {
     // navigator.notification.alert('code: '    + errorFlag.code    + '\n' +
     //         'message: ' + errorFlag.message + '\n');
     
     if(errorFlag.code==2)
     {
         navigator.notification.alert('เปิด GPS ด้วยค่ะ');  
     }else
     {
         navigator.notification.alert(errorFlag.code);
     }

    //map.setCenter(initialLocation);
  }
    
} 
function onDeviceReady(){

   directionsDisplay = new google.maps.DirectionsRenderer({preserveViewport: true });   
  var myOptions = {
    zoom: 10,
    center: new google.maps.LatLng(myObject2.latnew,myObject2.lngnew),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
   map = new google.maps.Map(document.getElementById("map_canvas"),
                                myOptions);
    directionsDisplay.setMap(map);
  //   myMarkers() ;
     
     setMarkers(map, beaches);
     setMarkerPoint();
     getdetect();
     
     google.maps.event.addListener(map, 'center_changed', function() {
         
         nowcenter=map.getCenter();
         
     });  
     
     
     google.maps.event.addListener(map, 'zoom_changed', function() {
         
         nowzoom=map.getZoom();
         
     });                        
                                
                                
  
}
function setMarkerPoint(){
     if(beaches.length==1)
   {
   for (var i = 0; i < beaches.length; i++) { 
    var beach = beaches[i];
    var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
    toend =myLatLng;
 
   }
   }
}
function myMarkers2(position){
 //   navigator.notification.alert(position.coords.latitude);
    //navigator.notification.alert(position.coords.longitude);
    initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
    marker2.setPosition(initialLocation);
    map.setCenter(initialLocation); 
  
}
function myMarkers(){
    
    var image = new google.maps.MarkerImage('icons/walk.png',
      // This marker is 20 pixels wide by 32 pixels tall.
      new google.maps.Size(38,40),
      // The origin for this image is 0,0.
      new google.maps.Point(0,0),
      // The anchor for this image is the base of the flagpole at 0,32.
      new google.maps.Point(0, 38));

   // var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
     marker2 = new google.maps.Marker({
        position: initialLocation,
        map: map,
        icon: image,
        title: 'คุณอยู่ที่นี่',
        zIndex: 90000
    });
    
    google.maps.event.addListener(marker2, 'click', function() {
      //  navigator.notification.alert(marker.getPosition().lat());
    //    setdata(marker);
            
   //     $("#hidden_link").trigger('click');
        toggleBounce(marker2);
  });

  var options = { frequency: 3000 };
  watchID = navigator.geolocation.watchPosition(myMarkers2, onError, options);

  
}
function onError(error) {
   //   navigator.notification.alert('code: '    + error.code    + '\n' +
     //       'message: ' + error.message + '\n');

}
function calcRoute() {
   // var start = document.getElementById("start").value;
    //var end = document.getElementById("end").value;
    var request = {
        origin:initialLocation, 
        destination:toend,
        travelMode: google.maps.DirectionsTravelMode.DRIVING
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        if(nowcenter)
        {
         if(nowzoom)
         {
           map.setZoom(nowzoom);  
         }else
         {
           map.setZoom(12);  
         }
          
          map.setCenter(nowcenter);  
            
        }else
        {
            map.setZoom(12);
        map.setCenter(initialLocation);
        }
        
             
      }
    });
  }
function setMarkers(map, locations) {
  // Add markers to the map
 // navigator.notification.alert(locations);
  // Marker sizes are expressed as a Size of X,Y
  // where the origin of the image (0,0) is located
  // in the top left of the image.

  // Origins, anchor positions and coordinates of the marker
  // increase in the X direction to the right and in
  // the Y direction down.
  var dataset=myObject[1]; 
 //navigator.notification.alert(dataset.icon);
  var image = new google.maps.MarkerImage('icons/'+dataset.icon,
      // This marker is 20 pixels wide by 32 pixels tall.
      new google.maps.Size(38, 46),
      // The origin for this image is 0,0.
      new google.maps.Point(0,0),
      // The anchor for this image is the base of the flagpole at 0,32.
      new google.maps.Point(0, 35));
 // var shadow = new google.maps.MarkerImage('images/beachflag_shadow.png',
      // The shadow image is larger in the horizontal dimension
      // while the position and offset are the same as for the main image.
//      new google.maps.Size(37, 32),
//      new google.maps.Point(0,0),
//      new google.maps.Point(0, 32));
      // Shapes define the clickable region of the icon.
      // The type defines an HTML &amp;lt;area&amp;gt; element 'poly' which
      // traces out a polygon as a series of X,Y points. The final
      // coordinate closes the poly by connecting to the first
      // coordinate.

  for (var i = 0; i < locations.length; i++) {
    var beach = locations[i];
    var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        icon: image,

        title: beach[0],
        zIndex: 9000
    });
   setevent(marker);
   
  }
}
function setdata(marker){
   map.setCenter(new google.maps.LatLng(marker.getPosition().lat(), marker.getPosition().lng())); 
    var postion=marker.getPosition().toUrlValue();
    var dataset=myObject[marker.getZIndex()];
    
    $("#title").html(dataset.title);
    $(".namepost").html(dataset.namepost);
    $("#description").html(dataset.description);
    $("#emailshop").html(dataset.emailshop);
    $("#tel").html(dataset.tel);
    $("#address").html(dataset.address); 
    $("#shopname").html(dataset.shopname); 
    $("#shopurl").html(dataset.shopurl);   
    var src3=dataset.pic;
    $("#mapimage2").attr("src",src3);
    
   // navigator.notification.alert(lat);
  //  var lng=marker.getPosition().lng();
    var src="http://maps.googleapis.com/maps/api/staticmap?&sensor=false&center="+postion+"&zoom=17&size=301x220&sensor=false&markers=icon:http://www.infostant.com/images/default/icons/"+dataset.icon+"|"+postion+"&format=png";
    $("#mapimage").attr("src",src);
    
}
function setevent(marker){
        google.maps.event.addListener(marker, 'click', function() {
      //  navigator.notification.alert(marker.getPosition().lat());
        setdata(marker);
            
        $("#hidden_link").trigger('click');
        toggleBounce(marker);
  });
    
}
function stopmarker(marker){
    marker.setAnimation(null);
}
function toggleBounce(marker) {

  if (marker.getAnimation() != null) {
    marker.setAnimation(null);
  } 
  else {
    marker.setAnimation(google.maps.Animation.BOUNCE);
     setTimeout(function() {
      stopmarker(marker);
    },  4000);

  }
}
function onPhotoDataSuccess(imageData) {
      // Uncomment to view the base64 encoded image data
    //  imageURI2=imageData;
      $('.ui-page-active #img-profile').attr('src','data:image/jpeg;base64,'+imageData); 
      $.post(webdir+'/ajax/submitmyprofileformiphone',{
                     pic1:imageData
                     ,mid:localStorage.getItem("userId")
                     ,username:localStorage.getItem("username")
                     
      }, function(data) {
             localStorage.setItem("picme",'data:image/jpeg;base64,'+imageData);        
                   
      });
       

    }
function setcamera2(){

               

                navigator.camera.getPicture(onPhotoDataSuccess, onFail, 
                { quality : 100, 
                destinationType : Camera.DestinationType.DATA_URL, 
                sourceType : Camera.PictureSourceType.CAMERA, 
                allowEdit : true,
                encodingType: Camera.EncodingType.JPEG,
                targetWidth: 220,
                targetHeight: 300 }
                );
}
function setalbum2(){

               

                navigator.camera.getPicture(onPhotoDataSuccess, onFail, 
                { quality : 100, 
                destinationType : Camera.DestinationType.DATA_URL, 
                sourceType : Camera.PictureSourceType.PHOTOLIBRARY, 
                allowEdit : true,
                encodingType: Camera.EncodingType.JPEG,
                targetWidth: 220,
                targetHeight: 300 }
                );
    
}
function onFail(message) {
      navigator.notification.alert('Failed because: ' + message);
    }
function addpicme()
{
    
    $('.ui-page-active #img-profile').simpledialog({
    'mode' : 'bool',
    'prompt' : 'Choose Form ?',
    'fullScreen':'true',
    'useModal': true,
    'buttons' : {
      'Camera': {
        click: function () {
         setcamera2();
        }
      },
      'Album': {
        click: function () {
        setalbum2();
        }
      },
       'Cancel': {
        click: function () {

            
        }
      }
    }
  });
}






</script>
     <style type="text/css">
    .ui-header {
        position: fixed !important;
        top: 0 !important;
        
    }
    .ui-content {
        margin-top: 50px;
    }
    
.ui-header { overflow: visible!important;  }
.ui-header-fixed {  z-index: 1100!important;}





</style>

</head> 
<body> 

<div id="index" data-role="page"  style="z-index:1100 !important" data-position="fixed">

    <div data-role="header" data-position="fixed" data-fullscreen="true" data-transition="slide">
        <div>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick2" href="#">Place</a></li>
                    <li><a class="functionclick" href="#">Member</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
            	<li class="icon message"><a href="message.html"><span>Message</span></a></li>
                <li class="icon memory"><a href="index.html#memory"><span>Personal Memory</span></a></li>
                <li class="icon favorite"><a href="favarite.html"><span>Favorite</span></a></li>
                <li class="icon calendar"><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li class="icon addfriend"><a href="profile.html"><span>Friends</span></a></li>
                <li class="icon promotion"><a href="promotion.html"><span>Promotion</span></a></li>
                <li class="icon message"><a href="setting.html"><span>Settings</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        <div  id="function2">
            <ul class="v">   
                <li class="icon notification"><a href="notification.html"><span>Notification</span></a></li>
                <li class="icon shop"><a href="index.html#shop"><span>Shop</span></a></li>
                <li class="icon promotion"><a href="promotion.html"><span>Promotion</span></a></li>
                <li class="icon coupon"><a href="#"><span>Coupon</span></a></li>
                <li class="icon qr"><a href="qr.html"><span>QR Reader</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
    	</div><!-- /header -->
    
    <div id="footerindex">
    <div data-role="content">    
            <img src="images/img-intro2.jpg" alt="img-intro2"/>
    </div><!-- /content -->

    <div data-role="footer"  >
        <ul class="h">
            <li><a href="#"><img src="images/img-group-01.jpg" alt="img-group-01" /></a></li>
            <li><a href="#"><img src="images/img-group-02.jpg" alt="img-group-01" /></a></li>
            <li><a href="#"><img src="images/img-group-03.jpg" alt="img-group-01" /></a></li>
            <li><a href="#"><img src="images/img-group-04.jpg" alt="img-group-01" /></a></li>
            <li><a href="#"><img src="images/img-group-05.jpg" alt="img-group-01" /></a></li>
            <li><a href="#"><img src="images/img-group-06.jpg" alt="img-group-01" /></a></li>
            <li><a href="#"><img src="images/img-group-07.jpg" alt="img-group-01" /></a></li>
            <li><a href="#"><img src="images/img-group-08.jpg" alt="img-group-01" /></a></li>
        </ul>
    </div><!-- /footer -->
    </div>
</div><!-- /page -->
<div data-role="page" id="shop"  > 
      <div data-role="header" data-position="fixed" data-fullscreen="true" data-transition="slide">
        <div>
                    <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick2" href="#">Place</a></li>
                    <li><a class="functionclick" href="#">Member</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
            	<li><a href="message.html"><span>Message</span></a></li>
                <li><a href="index.html#memory"><span>Personal Memory</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="profile.html"><span>Friends</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="setting.html"><span>Settings</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        <div  id="function2">
            <ul class="v">   
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="index.html#shop"><span>Shop</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="#"><span>Coupon</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
    	</div><!-- /header -->      
  <div data-role="content" class="subpage" id="wapper">

    <h2>My Shop <a class="shoptoplink" href="registershop.html">Add shop</a></h2>
    <div class="subpage">
            <ul class="v" id="searchresulthtml">
              
            </ul>
                  <ul style="margin-left:50px; margin-top: 0;"><a href="javascript:loadmore()" id="loadmore" data-role="button" data-inline="true">Load More</a></ul>
        </div>         
        
        </div> 
   </div><!-- /page -->
<div id="memory" data-role="page">
<div data-role="header" data-position="fixed" data-fullscreen="true" data-transition="slide">
        <div>
                    <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick2" href="#">Place</a></li>
                    <li><a class="functionclick" href="#">Member</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
            	<li><a href="message.html"><span>Message</span></a></li>
                <li><a href="index.html#memory"><span>Personal Memory</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="profile.html"><span>Friends</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="setting.html"><span>Settings</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        <div  id="function2">
            <ul class="v">   
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="index.html#shop"><span>Shop</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="#"><span>Coupon</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
    	</div><!-- /header -->
<div data-role="content" id="wapper2">    



        <h2>My Memory <a href="addmemory.html" class="link">Add Personal Memory</a></h2>
        <div class="subpage">
            <ul  id="searchresulthtml" class="v">
             
            </ul>
        </div>
    </div><!-- /content -->
</div><!-- /page -->
<div id="profile-myprofile" data-role="page">
    <div data-role="header" data-position="fixed" data-fullscreen="true" data-transition="slide">
        <div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick2" href="#">Place</a></li>
                    <li><a class="functionclick" href="#">Member</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
                <li><a href="message.html"><span>Message</span></a></li>
                <li><a href="index.html#memory"><span>My Memory</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="profile.html"><span>Friends</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="setting.html"><span>Settings</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        <div  id="function2">
            <ul class="v">   
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="index.html#shop"><span>Shop</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="#"><span>Coupon</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        </div><!-- /header -->
    <div data-role="content" id="wapper-myprofile">    
       <h2>My Profile </h2>
                <div class="subpage myprofile">
            <ul class="v">
                <li>
                    <a href="javascript:addpicme();" class="thumb">
                        <img  src="images/65-65.jpg" id="img-profile" alt="Sub-Category Name" />
                    </a>
                        Username<br />
                        <strong><a id="username" href="detail.html"></a></strong><br />
                        E-mail<br />
                        <strong><a id="emailprofile" href="detail.html"></a></strong><br />
                </li>
              </ul>
        </div>
        <h2>Reference Code</h2>
        <div class="subpage">
            <div style="padding:10px;"><strong>Your Reference Code : </strong>
             <span class="show-rfcode" align="center">Loading...</span><br /><br />


                 <strong>Add Friend by Reference Code</strong>
                <input type="text" name="refercode" id="refercode" />
                <input type="button" onclick="addfriend()" value="Add" id="" data-inline="" />
             </div>
        </div>
    </div><!-- /content -->
</div><!-- /page -->
<div data-role="page" id="affiliate"  > 
      <div data-role="header" data-position="fixed" data-fullscreen="true" data-transition="slide">
        <div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick2" href="#">Place</a></li>
                    <li><a class="functionclick" href="#">Member</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
                <li><a href="message.html"><span>Message</span></a></li>
                <li><a href="index.html#memory"><span>My Memory</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="add_friend.html"><span>Friends</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="setting.html"><span>Settings</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        <div  id="function2">
            <ul class="v">   
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="index.html#shop"><span>Shop</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="#"><span>Coupon</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        </div><!-- /header -->      
  <div data-role="content" class="subpage" id="wapperaff">

    <h2>My Affiliate <a class="shoptoplink" href="registeraffiliate.html">Add Affiliate</a></h2>
    <div class="subpage">
            <ul class="v" id="searchresulthtml">
              
            </ul>
            <ul style="margin-left:50px; margin-top: 0;"><a href="javascript:loadmore()" id="loadmore" data-role="button" data-inline="true">Load More</a></ul>
        </div>         
        
        </div> 
   </div><!-- /page -->
<script type="text/javascript">

$(document).bind("mobileinit", function(){
  $.mobile.touchOverflowEnabled = true;
});        
</script>
</body>
</html>
