<!DOCTYPE html> 
<html> 
	<head> 
	<title>Infostant</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 
	
	<link rel="stylesheet" href="jquery.mobile.min.css" />
	<link rel="stylesheet" href="jquery.mobile.structure.min.css" />
	
  	<script src="jquery-1.7.1.min.js"></script>
	<script src="jquery.animate-enhanced.min.js"></script>
	<script src="plugins.js"></script>
	<script src="jquery.mobile.min.js"></script>
	
</head> 
<body> 

<div id="index" data-role="page">

	<div data-role="header" data-position="fixed">
		<div>
			<h1><a href="index.html" data-transition="flip">infostant</a></h1>
			<nav>
				<ul class="h">
					<li><a href="search.html" data-transition="slide">search</a></li>
					<li><a class="functionclick" href="#">function</a></li>
					<li><a href="directory.html" data-transition="slide">directory</a></li>
				</ul>
			</nav>
		</div>
		<div class="functionset" id="function">
			<ul class="v">
				<li><a href="setting.html"><span>Settings</span></a></li>
				<li><a href="directory.html"><span>Directory</span></a></li>
				<li><a href="recent.html"><span>Recent View</span></a></li>
				<li><a href="favarite.html"><span>Favorite</span></a></li>
				<li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
				<li><a href="memory.html"><span>Personal Memory</span></a></li>
				<li><a href="add_friend.html"><span>Add Friend</span></a></li>
				<li><a href="notification.html"><span>Notification</span></a></li>
				<li><a href="promotion.html"><span>Promotion</span></a></li>
				<li><a href="qr.html"><span>QR Reader</span></a></li>
				<li><a href="location.html"><span>Show Location</span></a></li>
				<li><a href="shop.html"><span>Shop</span></a></li>
				<li><a href="help.html"><span>Help</span></a></li>
			</ul>
			<a href="javascript:void(0);" class="close">Close Function</a>
		</div> <!-- #function -->
	</div><!-- /header -->
	

	<div data-role="content">	
			<!-- <img src="images/img-intro2.jpg" alt="img-intro2" /> -->
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed">
		<ul class="h">
			<li><a href="#"><img src="images/img-group-01.jpg" alt="img-group-01" /></a></li>
			<li><a href="#"><img src="images/img-group-02.jpg" alt="img-group-01" /></a></li>
		</ul>
	</div><!-- /footer -->
</div><!-- /page -->

<script type="text/javascript">
$(document).bind("mobileinit", function(){
  $.mobile.touchOverflowEnabled = true;
});		
</script>
</body>
</html>