<div id="membersub" data-role="page">
    <div data-role="header" data-position="fixed" data-fullscreen="true" data-transition="slide">
        <div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick2" href="#">Place</a></li>
                    <li><a class="functionclick" href="#">Member</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
            	<li><a href="message.html"><span>Message</span></a></li>
                <li><a href="index.html#memory"><span>My Memory</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="profile.html"><span>Friends</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="setting.html"><span>Settings</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        <div  id="function2">
            <ul class="v">   
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="index.html#shop"><span>Shop</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="#"><span>Coupon</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
    	</div><!-- /header -->
	<div data-role="content">	
        <div  id="black-bar">
             
                    <fieldset data-role="controlgroup" data-type="horizontal">
                             <input type="radio" name="radio-choice-a" id="radio-choice-a" value="off" />
                             <label for="radio-choice-a"><span class="alignbox"><span class="icon icon-promotion">Promotion</span></span></label>
                             <input type="radio" name="radio-choice-b" id="radio-choice-b" value="off" />
                             <label for="radio-choice-b"><span class="alignbox"><span class="icon icon-coupon">Coupon</span></span></label>
                             <input type="radio" name="radio-choice-c" id="radio-choice-c" value="on" checked="checked" />
                             <label for="radio-choice-c"><span class="alignbox"><span class="icon icon-member">Member</span></span></label>
                    </fieldset>
                    
       </div>
       <h2>Member Card</h2>
       <div class="subpage">
       <ul id="searchresulthtml" class="v">
       <li><a class="thumb" href="landing.html?shopurl=tesry"><img alt="tesry" src="http://www.infostant.com/images/shop_c/tesry/resize/thumb5.jpg"></a><strong><a href="landing.html?shopurl=tesry">tesry</a></strong><br>Time. null<br>Tel. null<br>null, กรุงเทพมหานคร </li>
       <ul class="stamp ">
       			<li><img src="images/img-stamp.png"/></li>
                <li><img src="images/img-stamp.png"/></li>
                <li><img src="images/img-stamp.png"/></li>
                <li><img src="images/img-stamp.png"/></li>
                <li><img src="images/img-stamp.png"/></li>
                <li><img src="images/img-stamp.png"/></li>
                <li><img src="images/img-stamp.png"/></li>
                <li><img src="images/img-stamp.png"/></li>
                <li><img src="images/img-stamp.png"/></li>
                <li><img src="images/img-stamp.png"/></li>
                
       </ul>
       <div class="text1"> กรุณาแสดง Member Card นี้เพื่อแลกใช้สิทธิ์ ก่อนการเรียกชำระเงิน</div>
       <div class="text2"><h3 class="condition">Conditions</h3>
                   <div class="data">
                   - To use redemption, please inform our staff before your bill
              check.<br />
            
            - Every Baht 150.- spending get 1 Free Happy Stemp.<br />
            - To collect 15 Happy Stamp gets redemption valued Baht 150.-
              for your next visit or purchase.<br />
            - S&P Happy Card can be used at all S&P restaurant branches
              EXCEPT at S&P kitchen, S&P Deil, S&P Delivery Service.<br />
            - S&P Happy Card cannot be exchanged to cash.<br />
            - S&P Happy Card cannot be used together with other
              Promotion.<br />
            - S&P reserved all rights to change any conditions without
              further notice.<br />
                    </div>
       </div>
      
       </ul>
       
       </div>
       </div>
       
       
       
       
     
        
  </div><!-- /content -->
</div><!-- /page -->