   <!DOCTYPE html> 
<html> 
<head>
  <meta charset="utf-8">

  <title></title>
  <meta name = "format-detection" content = "telephone=no">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Mobile viewport optimized: j.mp/bplateviewport -->
<meta content="width=320, initial-scale=0.35, maximum-scale=10.0, minimum-scale=0.25, user-scalable=1" name="viewport">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <link rel="stylesheet" href="http://www.infostant.com/css/shop/addon.css">
  <link rel="stylesheet" href="http://www.infostant.com/css/shop/style.css">
  <link rel="stylesheet" href="http://www.infostant.com/css/shop/dropkick.css" media="all" />
  <link rel="stylesheet" href="http://www.infostant.com/css/shop/default.css">
  <link href="jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet"><!--   Cufon for Special Font -->
  <script type="text/javascript" charset="utf-8" src="phonegap-1.2.0.js"></script>
  <script type="text/javascript" src="jquery-1.7.1.min.js"></script>
  <script src="jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.js"></script>
  <script src="http://www.infostant.com/js/shop/googlejs.js"></script>

  <script src="  http://maps.googleapis.com/maps/api/js?sensor=false"></script>
         
  <script type="text/javascript" charset="utf-8">
     var webdir="http://www.infostant.com";
     var pictureSource;   // picture source
     var destinationType; // sets the format of returned value  
     var size2;
     var shopurl2;
     var group2;
     function setyoutube(val){
    $('#videotext').html('<iframe width="446" height="300" id="video"  src="http://www.youtube.com/embed/'+$.trim(val)+'?wmode=transparent" frameborder="0" allowfullscreen></iframe>');
   
    
    }
     function getUrlVars2() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
    }
  document.addEventListener("deviceready",onDeviceReady,false);
    
   //   $(document).ready(function() { 
//          
//          onDeviceReady();
//    });

    function onDeviceReady() {

       pictureSource=navigator.camera.PictureSourceType;
       destinationType=navigator.camera.DestinationType;
     
           if(localStorage.getItem("userId"))
              {
                   $.post(webdir+'/ajax/getshopbyshopurlformobile',{shopurl:getUrlVars2()['shopurl'],mid:localStorage.getItem("userId") }, function(data) {
                            
                            var myObject = eval('(' + data + ')');
                            
                             setdata(myObject);

                            
                   });  
                   $('#savetext').click(function() {   
                    
                    $.post(webdir+'/ajax/savetext',{shopurl:getUrlVars2()['shopurl'],mid:localStorage.getItem("userId"),target:$('#target').val(),setdata:$('#textarea').val(),filename:'index_th' }, function(data) {
                            
                          //  var myObject = eval('(' + data + ')');
                            
                         //    setdata(myObject);
                            $('#'+$('#target').val()).html($('#textarea').val());
                            $.fancybox.close();
                            
                            
                   });
                       }); 
                   
                   $('#savetext2').click(function() {   
                    
                    $.post(webdir+'/ajax/savetext',''+$('#file-form').serialize()+'&filename=index_th&shopurl='+getUrlVars2()['shopurl']+'&target=address-tel-emailshop-website&mid='+localStorage.getItem("userId"), function(data) {
                                    $('#address').html( $('#text-address').val());
                                    $('#tel').html($('#text-tel').val()); 
                                    $('#emailshop').html($('#text-emailshop').val()); 
                                    $('#website').html($('#text-website').val()); 
                            $.fancybox.close();
                            
                   });    
                       
                    
                       
                   });
                   
                    $('#savevideo').click(function() {
        var embed=testUrlForMedia($('#youtube').val());
        //alert(embed.id);
       if(embed.id)
        {
        
        $.post(webdir+'/ajax/savevideo','setdata='+embed.id+'&filename=index_th&shopurl='+getUrlVars2()['shopurl']+'&target=video&mid='+localStorage.getItem("userId"), function(reposnse)         
         {
         eval("var obj1="+reposnse); 
          if(obj1.resposne){
              setyoutube(embed.id);   
              $.fancybox.close();
          }

          }); 
        }  
    
              
              });
                     
          
              }
        
    }
    function testUrlForMedia(pastedData) {
var success = false;
var media   = {};
if (pastedData.match('http://(www.)?youtube|youtu\.be')) {
    if (pastedData.match('embed')) { youtube_id = pastedData.split(/embed\//)[1].split(/[?&]/)[0]; }
    else { youtube_id = pastedData.split(/v\/|v=|youtu\.be\//)[1].split(/[?&]/)[0]; }
    media.type  = "youtube";
    media.id    = youtube_id;
    success = true;
}
else if (pastedData.match('http://(player.)?vimeo\.com')) {
    vimeo_id = pastedData.split(/video\/|http:\/\/vimeo\.com\//)[1].split(/[?&]/)[0];
    media.type  = "vimeo";
    media.id    = vimeo_id;
    success = true;
}
else if (pastedData.match('http://player\.soundcloud\.com')) {
    soundcloud_url = unescape(pastedData.split(/value="/)[1].split(/["]/)[0]);
    soundcloud_id = soundcloud_url.split(/tracks\//)[1].split(/[&"]/)[0];
    media.type  = "soundcloud";
    media.id    = soundcloud_id;
    success = true;
}
if (success) { return media; }
else {
 //alert("No valid media id detected");
}
return false;
}
    function setdata(myObject){
              $('#csscode').attr('href','http://www.infostant.com/css/shop/'+myObject.catename+'/'+myObject.catename+'.css');
                            $('#main').html(myObject.html);
                            $('#setdata').html(myObject.setdata); 
                            $('.galleryimg').fancybox();
                            
                            $('#bodydiv').attr('class',myObject.bodyclass);
                            $(".ir.edit.map").click(function() {
                                
                            $.fancybox({

                                    'title'  : this.title,
                                   'href':'google.html',
                                   'type':'iframe' ,
                                   'width':'100%',
                                   'height':'100%'
                            
                            
                            }); 
                                 
                            });
                            $(".ir.edit.vdo").click(function() {
                            if($('#video').attr("src"))
                            {  
           
       var embed=testUrlForMedia($('#video').attr("src"));       
      if(embed)
        {
            $('#youtube').val('http://www.youtube.com/embed/'+embed.id);    
        }            
         $.fancybox({
                                   'href':'#youtubedata','type':'inline'
                       });   
           
       }
                            
                             
                            });

                            
                            
                            
                            $(".ir.edit.text").click(function() {
                                if($(this).attr('title')=="popup5")
                                {
                                    $('#text-address').val($('#address').html());
                                    $('#text-tel').val($('#tel').html()); 
                                    $('#text-emailshop').val($('#emailshop').html()); 
                                    $('#text-website').val($('#website').html()); 
                                        $.fancybox({

                                    'title'  : this.title,
                                   'href':'#datatext2','type':'inline'}); 
                                }else
                                {
                                $('#target').val($(this).attr('title'));
                               $('#textarea').val($('#'+$(this).attr('title')).html());
                              // $("#datatext").fancybox().trigger('click');

                               $.fancybox({

                                    'title'  : this.title,
                                   'href':'#datatext','type':'inline'}); 
                                }
                                
                            });
                   onLoadMaps();
                                         var viewport = $("head meta[name=viewport]"); 
                                         
                                         
                                         
                                         if (navigator.userAgent.toLowerCase().match(/android/)) {
                                       
                                       //  document.write('<script charset="utf-8" src="android\/phonegap-1.2.0.js"><\/script>');
                                         } else if (navigator.userAgent.toLowerCase().match(/iphone/) ) {
                                       //  document.write('<script charset="utf-8" src="ios\/phonegap-1.2.0.js"><\/script>');
                                   alert('22');
                                          viewport.attr('content', 'width=320, initial-scale=0.35, maximum-scale=10.0, minimum-scale=0.25, user-scalable=1'); 

                                         }
                                         else if (navigator.userAgent.toLowerCase().match(/ipad/) ) {
                                         //  document.write('<script charset="utf-8" src="ios\/phonegap-1.2.0.js"><\/script>');
                              
                                         viewport.attr('content', 'width=1024, initial-scale=0.8, maximum-scale=10.0, minimum-scale=0.25, user-scalable=1'); 
                                         }
                                         
                                                                                   alert('');
                                        viewport.attr('content', 'width=320, initial-scale=0.35, maximum-scale=10.0, minimum-scale=0.25, user-scalable=1'); 
                  
    }
    function onPhotoDataSuccess(imageData) {
      // Uncomment to view the base64 encoded image data
    //  imageURI2=imageData;
      $('#'+size2).html('<img  src="'+"data:image/jpeg;base64,"+imageData+'">'); 
      $.post(webdir+'/ajax/submitpicformiphone',{
                     pic1:imageData
                     ,size:size2
                     ,shopurl:shopurl2
                     ,mid:localStorage.getItem("userId")
                     ,filename:'index_th'
                     ,group:group2
                     
      }, function(data) {
                      var myObject = eval('(' + data + ')');    

                            setdata(myObject);  
                   });
       

    }

    function capturePhoto(size,shopurl,group) {
               size2=size;
               shopurl2=shopurl;
               group2=group; 
              // var sizearray = explode("x", size, 3);
               var sizearray=size.split("x");
               
               //   navigator.notification.alert(sizearray[0]);
               //   navigator.notification.alert(sizearray[1]);
                navigator.camera.getPicture(onPhotoDataSuccess, onFail, { quality : 100, 
  destinationType : Camera.DestinationType.DATA_URL, 
  sourceType : Camera.PictureSourceType.CAMERA, 
  allowEdit : true,
  encodingType: Camera.EncodingType.JPEG,
  targetWidth: sizearray[0],
  targetHeight: sizearray[1] });
               // navigator.notification.alert(size);     
    }
    function onFail(message) {
      navigator.notification.alert('Failed because: ' + message);
    }

     </script>
<link rel="stylesheet" id="csscode" href="http://www.infostant.com/css/shop/home/home.css" media="all" />
 </head> 
      <body id="bodydiv"  class="backend"><div  id="main" role="main"></div><!-- JavaScript at the bottom for fast page loading -->    
<!-- scripts concatenated and minified via build script -->
<div style="display:none">
<div  id="datatext">



<h3 class="media-title">ใส่ข้อความ</h3>


<div id="media-upload-notice">
  <p>
    <textarea rows="10" style=" width:100%" id="textarea" name="textarea">นั่งเล่นเอกมัย ผับแอนด์เรสเตอร</textarea>
  </p>
  <p>
    <input type="hidden" value="" id="target" name="target"> 
    
    <a class="button black2" id="savetext" href="javascript:void(0);">Save</a>
    <span class="media-upload-size"> </span></p>
</div>

</div>  </div>
<div style="display:none">
<div  id="datatext2">

    <form method="post"  id="file-form">



<h3 class="media-title">ใส่ข้อความ</h3>


<div id="media-upload-notice">
<table cellpadding="3" cellspacing="3">

      <tbody><tr>
    <td><span id="span-address">Address</span></td><td>  <input type="text" id="text-address" name="text-address" style=" width:100%"> </td>
    </tr>
      <tr>
    <td><span id="span-tel">Tel</span></td><td>  <input type="text" id="text-tel" name="text-tel" style=" width:100%"> </td>
    </tr>
      <tr>
    <td><span id="span-emailshop">Email</span></td><td>  <input type="text" id="text-emailshop" name="text-emailshop" style=" width:100%"> </td>
    </tr>
      <tr>
    <td><span id="span-website">Website</span></td><td>  <input type="text" id="text-website" name="text-website" style=" width:100%"> </td>
    </tr>
    </tbody></table>   



    <a class="button black2" id="savetext2" href="javascript:void(0);">Save</a>

</div>

</form>

</div>  </div>
<div style="display: none;" id="setdata"></div>
<div style="display: none;"><div id="youtubedata">

      <p>
    <input type="text" style=" width:100%" name="youtube" id="youtube" >
  </p>
  <p>
       <span class="media-upload-size">ตัวอย่าง http://www.youtube.com/embed/PVhRBTT2-7s </span>
        <a class="button black2" id="savevideo" href="javascript:void(0);">Save</a> 
</p>

</div></div>



</body> 


</html> 