<div id="profile-mymemory" data-role="page">
    <div data-role="header" data-position="fixed" data-fullscreen="true" data-transition="slide">
        <div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick2" href="#">Place</a></li>
                    <li><a class="functionclick" href="#">Member</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
            	<li><a href="message.html"><span>Message</span></a></li>
                <li><a href="index.html#memory"><span>Personal Memory</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="profile.html"><span>Profile</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="setting.html"><span>Settings</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        <div  id="function2">
            <ul class="v">   
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="index.html#shop"><span>Shop</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="#"><span>Coupon</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
    	</div><!-- /header -->
	<div data-role="content">	



        <h2>My Memory <a href="addmemory.html" class="link">Add Personal Memory</a></h2>
		<div class="subpage">
			<ul class="v">
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-01.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Occoneechee Farm Steak House</a></strong><br />
						Time. 10.00 - 22.00<br />
						Tel. 08-75222-7522<br />
						Ladprao 21, Bangkok
						<ul class="h">
                        	<li><a href="#" class="button edit"></a></li>
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go share">Go</a>
                            <ul id="share" class="h">
                            <li><a href="#">infotstant</a></li>
                            <li><a href="#">facebook</a></li>
                            <li><a href="#">twitter</a></li>
                            <li><a href="#">google+</a></li>
                            <li><a href="#">email</a></li>
                       		</ul>
                            </li>
							<li class="date_add">26/10/2011 <strong>|</strong> 09:00</li>
						</ul>
				</li>
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-02.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Occoneechee Farm Steak House</a></strong><br />
					Time. 10.00 - 22.00<br />
					Tel. 08-75222-7522<br />
					Ladprao 21, Bangkok
					<ul class="h">
						<li><a href="#" class="button edit"></a></li>
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go">Go</a></li>
						<li class="date_add">26/10/2011 <strong>|</strong> 09:00</li>
					</ul>
				</li>
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-03.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Occoneechee Farm Steak House</a></strong><br />
					Time. 10.00 - 22.00<br />
					Tel. 08-75222-7522<br />
					Ladprao 21, Bangkok
					<ul class="h">
						<li><a href="#" class="button edit"></a></li>
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go">Go</a></li>
						<li class="date_add">26/10/2011 <strong>|</strong> 09:00</li>
					</ul>
				</li>
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-04.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Occoneechee Farm Steak House</a></strong><br />
					Time. 10.00 - 22.00<br />
					Tel. 08-75222-7522<br />
					Ladprao 21, Bangkok
					<ul class="h">
						<li><a href="#" class="button edit"></a></li>
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go">Go</a></li>
						<li class="date_add">26/10/2011 <strong>|</strong> 09:00</li>
					</ul>
				</li>
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-05.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Occoneechee Farm Steak House</a></strong><br />
					Time. 10.00 - 22.00<br />
					Tel. 08-75222-7522<br />
					Ladprao 21, Bangkok
					<ul class="h">
						<li><a href="#" class="button edit"></a></li>
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go">Go</a></li>
						<li class="date_add">26/10/2011 <strong>|</strong> 09:00</li>
					</ul>
				</li>
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-01.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Occoneechee Farm Steak House</a></strong><br />
						Time. 10.00 - 22.00<br />
						Tel. 08-75222-7522<br />
						Ladprao 21, Bangkok
						<ul class="h">
							<li><a href="#" class="button edit"></a></li>
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go">Go</a></li>
							<li class="date_add">26/10/2011 <strong>|</strong> 09:00</li>
						</ul>
				</li>
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-02.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Occoneechee Farm Steak House</a></strong><br />
					Time. 10.00 - 22.00<br />
					Tel. 08-75222-7522<br />
					Ladprao 21, Bangkok
					<ul class="h">
						<li><a href="#" class="button edit"></a></li>
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go">Go</a></li>
						<li class="date_add">26/10/2011 <strong>|</strong> 09:00</li>
					</ul>
				</li>
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-03.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Occoneechee Farm Steak House</a></strong><br />
					Time. 10.00 - 22.00<br />
					Tel. 08-75222-7522<br />
					Ladprao 21, Bangkok
					<ul class="h">
						<li><a href="#" class="button edit"></a></li>
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go">Go</a></li>
						<li class="date_add">26/10/2011 <strong>|</strong> 09:00</li>
					</ul>
				</li>
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-04.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Occoneechee Farm Steak House</a></strong><br />
					Time. 10.00 - 22.00<br />
					Tel. 08-75222-7522<br />
					Ladprao 21, Bangkok
					<ul class="h">
						<li><a href="#" class="button edit"></a></li>
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go">Go</a></li>
						<li class="date_add">26/10/2011 <strong>|</strong> 09:00</li>
					</ul>
				</li>
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-05.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Occoneechee Farm Steak House</a></strong><br />
					Time. 10.00 - 22.00<br />
					Tel. 08-75222-7522<br />
					Ladprao 21, Bangkok
					<ul class="h">
						<li><a href="#" class="button edit"></a></li>
							<li><a href="#" class="button delete">Delete</a></li>
							<li><a href="#" class="button go">Go</a></li>
						<li class="date_add">26/10/2011 <strong>|</strong> 09:00</li>
					</ul>
				</li>
			</ul>
		</div>
	</div><!-- /content -->
</div><!-- /page -->