<div id="promotion" data-role="page">
    <div data-role="header" data-position="fixed" data-fullscreen="true" data-transition="slide">
        <div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick2" href="#">Place</a></li>
                    <li><a class="functionclick" href="#">Member</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
            	<li><a href="message.html"><span>Message</span></a></li>
                <li><a href="index.html#memory"><span>My Memory</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="profile.html"><span>Friends</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="setting.html"><span>Settings</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        <div  id="function2">
            <ul class="v">   
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="index.html#shop"><span>Shop</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="#"><span>Coupon</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
    	</div><!-- /header -->
	<div data-role="content">	

       <div class="main_image">
       <img src="images/promotion_ex1_image.jpg" width="100%"/>
       </div>
     <div class="data"><a href="#"><img class="logo" src="images/logo-s_p.png" /></a>
       						<div class="promo"> <a href="#"><img class="sale" src="images/promotion_ex1_sale.jpg" /></a>
                            <a href="#"><img class="fav" src="images/btn-add_favorite.png" /></a>
</div>
       				<div class="d1"><strong>S&amp;P ชือนี้มีแต่ของอร่อย</strong><br />
       				  <strong>Vanilla at home</strong><br />บริการใหม่อีกหนึ่งทางเลือกที่คุณตองถูกใจกับสไตลการ
ครีเอตเมนูได้หลากหลายและน่าสนใจทั้ง ฝรั่ง จีน ญี่ปุ่น 
                    </div>
                    
<div class="d2 subpage">
                    <p>
                    <strong>พิเศษ!! ช่วงแนะนำ</strong><br />
                    ตลอดเดือนมิถุนายนนี้ Vanilla at home มีโปรโมชั่น
                    อิ่มอรอยครบเซตในราคาพิเศษ สำหรับลูกคาที่สั่ง
                    Vanilla Special Set 
                    
                    <br /><br />

บริการทุกวัน : 10.00 - 21.00 น.<br />
เฉพาะพื้นที่ 5 จุดที่กำหนด ได้แก่<br />
  - ถนนสุขุมวิท 21 <br />
  - สุขุมวิท 71 (ทั้ง 2 ฝั่ง)<br />
  - ถนนพระราม 4 (แยกศูนย์สิริกิติ์)<br />
   - แยกพระโขนง<br />
  - ถนนเพชรบุรีตัดใหม่ (แยกอโศก) <br />
  - พัฒนาการ 20<br />
  - RCA<br />
<strong>Vanilla at home : 02-381-4332</strong>
		</p>
                    
                    
       </div>
                    
      </div>
        
  </div><!-- /content -->
</div><!-- /page -->