

<div id="search" data-role="page">

<div data-role="header" id="headerfile" data-position="fixed">
<div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick" href="#">function</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
                <li><a href="setting.html"><span>Settings</span></a></li>
                <li><a href="directory.html"><span>Directory</span></a></li>
                <li><a href="recent.html"><span>Recent View</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="memory.html"><span>Personal Memory</span></a></li>
                <li><a href="add_friend.html"><span>Add Friend</span></a></li>
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
                <li><a href="location.html"><span>Show Location</span></a></li>
                <li><a href="shop.html"><span>Shop</span></a></li>
                <li><a href="help.html"><span>Help</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
</div>
	<div data-role="content">	
		<h2>Search</h2>
		<p>
			<label for="input-search">Search</label>
			<input type="text" name="search" id="input-search" /> <input type="submit" value="Search" id="btn-search" data-inline="true" />
		</p>
		<dl>
			<dt><a href="javascript:void(0);">Advance Search</a></dt>
			<dd>
				<select name="province" id="province">
				    <option value="">เลือกจังหวัด</option>  
                    <option value="101">กระบี่</option>
                    <option value="102">กรุงเทพมหานคร</option>
                    <option value="103">กาญจนบุรี</option>
                    <option value="104">กาฬสินธุ์</option>
                    <option value="105">กำแพงเพชร</option>
                    <option value="106">ขอนแก่น</option>
                    <option value="107">จันทบุรี</option>
                    <option value="108">ฉะเชิงเทรา</option>
                    <option value="109">ชลบุรี</option>
                    <option value="110">ชัยนาท</option>
                    <option value="111">ชัยภูมิ</option>
                    <option value="112">ชุมพร</option>
                    <option value="113">ตรัง</option>
                    <option value="114">ตราด</option>
                    <option value="115">ตาก</option>
                    <option value="116">นครนายก</option>
                    <option value="117">นครปฐม</option>
                    <option value="118">นครพนม</option>
                    <option value="119">นครราชสีมา</option>
                    <option value="120">นครศรีธรรมราช</option>
                    <option value="121">นครสวรรค์</option>
                    <option value="122">นนทบุรี</option>
                    <option value="123">นราธิวาส</option>
                    <option value="124">น่าน</option>
                    <option value="125">บุรีรัมย์</option>
                    <option value="126">ปทุมธานี</option>
                    <option value="127">ประจวบคีรีขันธ์</option>
                    <option value="128">ปราจีนบุรี</option>
                    <option value="129">ปัตตานี</option>
                    <option value="130">พระนครศรีอยุธยา</option>
                    <option value="131">พะเยา</option>
                    <option value="132">พังงา</option>
                    <option value="133">พัทลุง</option>
                    <option value="134">พิจิตร</option>
                    <option value="135">พิษณุโลก</option>
                    <option value="136">ภูเก็ต</option>
                    <option value="137">มหาสารคาม</option>
                    <option value="138">มุกดาหาร</option>
                    <option value="139">ยะลา</option>
                    <option value="140">ยโสธร</option>
                    <option value="141">ระนอง</option>
                    <option value="142">ระยอง</option>
                    <option value="143">ราชบุรี</option>
                    <option value="144">ร้อยเอ็ด</option>
                    <option value="145">ลพบุรี</option>
                    <option value="146">ลำปาง</option>
                    <option value="147">ลำพูน</option>
                    <option value="148">ศรีสะเกษ</option>
                    <option value="149">สกลนคร</option>
                    <option value="150">สงขลา</option>
                    <option value="151">สตูล</option>
                    <option value="152">สมุทรปราการ</option>
                    <option value="153">สมุทรสงคราม</option>
                    <option value="154">สมุทรสาคร</option>
                    <option value="155">สระบุรี</option>
                    <option value="156">สระแก้ว</option>
                    <option value="157">สิงห์บุรี</option>
                    <option value="158">สุพรรณบุรี</option>
                    <option value="159">สุราษฎร์ธานี</option>
                    <option value="160">สุรินทร์</option>
                    <option value="161">สุโขทัย</option>
                    <option value="162">หนองคาย</option>
                    <option value="163">หนองบัวลำภู</option>
                    <option value="164">อำนาจเจริญ</option>
                    <option value="165">อุดรธานี</option>
                    <option value="166">อุตรดิตถ์</option>
                    <option value="167">อุทัยธานี</option>
                    <option value="168">อุบลราชธานี</option>
                    <option value="169">อ่างทอง</option>
                    <option value="170">เชียงราย</option>
                    <option value="171">เชียงใหม่</option>
                    <option value="172">เพชรบุรี</option>
                    <option value="173">เพชรบูรณ์</option>
                    <option value="174">เลย</option>
                    <option value="175">แพร่</option>
                    <option value="176">แม่ฮ่องสอน</option>
				</select>				
				<select name="district" id="district">
					<option value="">เลือกอำเภอ/เขต</option>
				</select>
				<select name="tumbon" id="tumbon">
					<option value="">เลือกตำบล/แขวง</option>
				</select>
				<select name="cat" id="cat">
					<option value="">หมวดหมู่หลัก</option>
                    <option value="1">ที่พัก</option>
                    <option value="2">โรงแรม</option>
                    <option value="4">ร้านอาหาร</option>
                    <option value="5">กาแฟ และ ของหวาน</option>
                    <option value="6">ร้านค้า</option>
                    <option value="7">เสื้อผ้า เครื่องประดับ</option>
                    <option value="8">โรงพยาบาล คลีนิก</option>
                    <option value="9">Beauty &amp; Spa</option>
                    <option value="10">บริการ</option>
                    <option value="11">การขนส่งและคมนาคม</option>
                    <option value="12">กีฬา</option>
                    <option value="13">สถานศึกษา</option>
                    <option value="14">สถานที่ท่องเที่ยว</option>
                    <option value="17">สัมมนา</option> 
                    <option value="18">ร้านอาหารชิว ชิว</option> 
                    <option value="15">อื่นๆ</option>
				</select>
				<select name="subcat" id="subcat">
					<option value="">หมวดหมู่ย่อย</option>
				</select>
			</dd>
		</dl>
	</div><!-- /content -->
</div><!-- /page -->

