<div id="searchresult" data-role="page">
    <div data-role="header" data-position="fixed" data-fullscreen="true" data-transition="slide">
        <div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick2" href="#">Place</a></li>
                    <li><a class="functionclick" href="#">Member</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
            	<li><a href="message.html"><span>Message</span></a></li>
                <li><a href="index.html#memory"><span>Personal Memory</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="add_friend.html"><span>Friends</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="setting.html"><span>Settings</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        <div  id="function2">
            <ul class="v">   
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="index.html#shop"><span>Shop</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="#"><span>Coupon</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
    	</div><!-- /header -->
    <div data-role="content">    
        <h2 id="wordTxt">Search </h2>
     
        <div class="subpage">
            <ul class="v" id="searchresulthtml">
              
            </ul>
            <ul style="margin-left:60px"><a href="javascript:loadmore()" id="loadmore" data-role="button" data-inline="true">Load More</a></ul>
        </div>
    </div><!-- /content -->
</div><!-- /page -->