<div id="setting2" data-role="page">
<style type="text/css">

    .ui-content {
        height:1500px !important;
    }

</style>
        <div data-role="header" data-position="fixed" data-fullscreen="true" data-transition="slide">
        <div>
        	<a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick2" href="#">Place</a></li>
                    <li><a class="functionclick" href="#">Member</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
                <li><a href="message.html"><span>Message</span></a></li>
                <li><a href="index.html#memory"><span>My Memory</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="profile.html"><span>Friends</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="setting.html"><span>Settings</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        <div  id="function2">
            <ul class="v">   
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="index.html#shop"><span>Shop</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="#"><span>Coupon</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        </div><!-- /header -->    
    <div data-role="content" id="wappersetting">	
		<h2>Setting</h2>
		<dl>
			<dt>General Setting</dt>
			<dd>
            
				<ul class="v">
                <li><a href="#" data-role="button" id="reflesh">Refresh interval <em>( 30 minutes )</em></a></li>

					<li><label for="notification">Notification <em>( Active )</em></label><input type="checkbox" name="notification" id="notification" checked="checked" /></li>
				</ul>
			</dd>
			<dt>Notification Settings</dt>
			<dd>
				<ul class="v">
					<li><label for="message">Messages</label> <input type="checkbox" name="message" id="message" /></li>
					<li><label for="friend">Friend requests</label> <input type="checkbox" name="friend" id="friend" /></li>
					<li><label for="invite">Event invites</label> <input type="checkbox" name="invite" id="invite" /></li>
					<li><label for="ringtone">Ringtone <em>( Ringtone name )</em></label> <input type="checkbox" name="ringtone" id="ringtone" /></li>
                    <li></li>
				</ul>
             
			</dd>
		</dl>
        
        
         <div  id="contact-bar">
             
                    <fieldset data-role="controlgroup" data-type="horizontal">
                             <input type="radio" name="radio-choice-a" id="radio-choice-b" value="on" onclick="$.mobile.changePage('index.html#profile-myprofile', 'flip', true, true);" checked="checked" />
                             <label for="radio-choice-b"><span class="alignbox"><span class="icon icon-profile">Profile</span></span></label>
                             <input type="radio" name="radio-choice-a" id="radio-choice-c" value="on" onclick="$.mobile.changePage('qr.html', 'flip', true, true);" checked="checked" />
                             <label for="radio-choice-c"><span class="alignbox"><span class="icon icon-qr">QRCode</span></span></label>
       
                             
                    </fieldset>
                    
       </div>
       
       
       <dl>
			<dd>
            <ul class="v">
                    <li><a href="logout.html" data-role="button" >logout</a></li>
                   <!-- <li><label for="Log out">Log out</label> <input type="checkbox" name="logout" id="logout" /></li>-->
			</ul>
            </dd>
		</dl>
        
        
        
	</div><!-- /content -->
</div><!-- /page -->