 
  <div data-role="page" id="shopedit"> 
<!--  <link rel="stylesheet" href="http://www.infostant.com/css/shop/addon.css">-->
  <link rel="stylesheet" href="http://www.infostant.com/css/shop/style.css">
  <link rel="stylesheet" href="http://www.infostant.com/css/shop/dropkick.css" media="all" />
  <link rel="stylesheet" href="http://www.infostant.com/css/shop/default.css"> 
  <script src="http://www.infostant.com/js/shop/googlejs.js"></script>  
  <div data-role="header" id="headerfile" data-position="fixed">
<div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick" href="#">function</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
                <li><a href="setting.html"><span>Settings</span></a></li>
                <li><a href="directory.html"><span>Directory</span></a></li>
                <li><a href="recent.html"><span>Recent View</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="memory.html"><span>Personal Memory</span></a></li>
                <li><a href="add_friend.html"><span>Add Friend</span></a></li>
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
                <li><a href="location.html"><span>Show Location</span></a></li>
                <li><a href="shop.html"><span>Shop</span></a></li>
                <li><a href="help.html"><span>Help</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
</div>   
<body id="bodydiv"  class="backend">   
  <div data-role="content" id="main" class="subpage">
    
        
    </div>
<div style="display:none">
<div  id="datatext">



<h3 class="media-title">ใส่ข้อความ</h3>


<div id="media-upload-notice">
  <p>
    <textarea rows="10" style=" width:100%" id="textarea" name="textarea">นั่งเล่นเอกมัย ผับแอนด์เรสเตอร</textarea>
  </p>
  <p>
    <input type="hidden" value="" id="target" name="target"> 
    
    <a class="button black2" id="savetext" href="javascript:void(0);">Save</a>
    <span class="media-upload-size"> </span></p>
</div>

</div>  </div>
<div style="display:none">
<div  id="datatext2">

    <form method="post"  id="file-form">



<h3 class="media-title">ใส่ข้อความ</h3>


<div id="media-upload-notice">
<table cellpadding="3" cellspacing="3">

      <tbody><tr>
    <td><span id="span-address">Address</span></td><td>  <input type="text" id="text-address" name="text-address" style=" width:100%"> </td>
    </tr>
      <tr>
    <td><span id="span-tel">Tel</span></td><td>  <input type="text" id="text-tel" name="text-tel" style=" width:100%"> </td>
    </tr>
      <tr>
    <td><span id="span-emailshop">Email</span></td><td>  <input type="text" id="text-emailshop" name="text-emailshop" style=" width:100%"> </td>
    </tr>
      <tr>
    <td><span id="span-website">Website</span></td><td>  <input type="text" id="text-website" name="text-website" style=" width:100%"> </td>
    </tr>
    </tbody></table>   



    <a class="button black2" id="savetext2" href="javascript:void(0);">Save</a>

</div>

</form>

</div>  </div>
<div style="display: none;" id="setdata"></div>
<div style="display: none;"><div id="youtubedata">

      <p>
    <input type="text" style=" width:100%" name="youtube" id="youtube" >
  </p>
  <p>
       <span class="media-upload-size">ตัวอย่าง http://www.youtube.com/embed/PVhRBTT2-7s </span>
        <a class="button black2" id="savevideo" href="javascript:void(0);">Save</a> 
</p>

</div></div> 
</body>

   </div>
         