
 
          <div data-role="page" id="templatesshop"> 
          <style type="text/css">

    .ui-content {
        height:1500px !important;
    }

</style>
              <div data-role="header" data-position="fixed" data-fullscreen="true" data-transition="slide">
        <div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick2" href="#">Place</a></li>
                    <li><a class="functionclick" href="#">Member</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
            	<li><a href="message.html"><span>Message</span></a></li>
                <li><a href="index.html#memory"><span>My Memory</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="profile.html"><span>Friends</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="setting.html"><span>Settings</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        <div  id="function2">
            <ul class="v">   
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="index.html#shop"><span>Shop</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="#"><span>Coupon</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
    	</div><!-- /header -->           
        <div data-role="content" class="subpage" id="wappertemplatesshop">

        <h2>Templates Shop</h2>
       <form name="registersummit" id="registersummit" onsubmit="return nextstep1()">
         <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                 
                    <label for="switch-c" id="switch-c-label" class="ui-slider">เลือก Templates </label>
                  
                 
         </div>
          <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                 
                <div id="myGallery2" class="royalSlider clearfix" style="width:300px;height: 350px;margin: 0 auto;">
                    <div class="royalLoadingScreen"><p>Loading slider&hellip;<br>Click and drag to navigate</p></div>
                <ul class="royalSlidesContainer" id="testId">
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-0" id="tem-1"  src="images/template-1.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-1" id="tem-3"  src="images/template-3.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-2" id="tem-4"  src="images/template-4.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-3" id="tem-5"  src="images/template-5.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-4" id="tem-6"  src="images/template-6.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-5" id="tem-7"  src="images/template-7.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-6" id="tem-9"  src="images/template-9.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-7" id="tem-10"  src="images/template-10.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-8" id="tem-11"  src="images/template-11.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-9" id="tem-12"  src="images/template-12.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-10" id="tem-13"  src="images/template-13.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-11" id="tem-14"  src="images/template-14.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-12" id="tem-15"  src="images/template-15.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-13" id="tem-16"  src="images/template-16.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-14" id="tem-17"  src="images/template-17.jpg" alt="Photo Gallery" /></li>
<li class="royalSlide" ><img style="margin: 0 25px auto"  class="royalImage-15" id="tem-18"  src="images/template-18.jpg" alt="Photo Gallery" /></li>


                </ul> 
                    
                    </div>

          </div>         
          
          <div class="ui-body ui-body-c">
                  <fieldset class="ui-grid-a">
                  <input type="hidden" id="temid" name="temid" value="">


                <button data-theme="a" id="buttonSave" name="buttonSave" onclick="nextstep2()"  type="button" class="ui-btn-hidden" aria-disabled="false">Submit</button>
                </fieldset>
                </div>

       </form> 
        
        
        </div> 

    </div>
       