/* Hotel Page */
header #login a:hover, .dk_container a.dk_toggle:hover { color: #0ca28f }
header #color { background-color: #0ca28f; } 
header #color h2 { background-image: url(../../../images/shop/hotel/hd-hotel.png);  }
#main h3 { color: #0ca28f;  }
#main h3 cufon { top: -7px; }
#main #five { margin-bottom: 10px; }
#main #five h3 { margin-bottom: 0; height: 35px; }
a.black1 { margin-top: 10px; }
section#three a.black1 { margin-top: 28px; }
section#three #social ul { margin-bottom: 50px; }
.d-220x160:nth-child(4n+1) { margin-right: 0; }
#one { padding: 0 0 20px; position: relative; }
.d-220x90 { position: absolute; bottom: 0; left: 50%; margin-left: -120px; }
.d-820x50 { margin-bottom: 10px; }
article.quote { background: url(../../../images/shop/hotel/bg-quote-left2.png) no-repeat left top; }
article.quote .inner { background: url(../../../images/shop/hotel/bg-quote-right2.png) no-repeat right bottom;  }
a.button.black1, a.button.black2 { background-image: url(../../../images/shop/bg-button-black2.png); }