   <!DOCTYPE html> 
<html> 
<head>
  <meta charset="utf-8">

  <title>DIGITDI : Digital Directory</title>
  <meta name = "format-detection" content = "telephone=no">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport"  content="width=device-width, height=device-height, initial-scale=0.8, user-scalable=1" />
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
    <script type="text/javascript" src="jquery.min.js"></script>
  <script src="googlemap.js"></script>
  <script src="register.js"></script>

  <script src="  http://maps.googleapis.com/maps/api/js?sensor=false"></script>
 <script>
  
    
        $(document).ready(function() { 
           
           onDeviceReady();
     });
       function onDeviceReady(){
           
         $('#lat').keyup(function() {
initialize2();
});
$('#lng').keyup(function() {
initialize2();
}); 

$('#save').click(function(){
$('#save').attr("disabled", "true");
$('#save').val('กำลังบันทึก...');
parent.window.setpont($('#lat').val(),$('#lng').val());
var setdata=$('#lat').val()+'pp'+$('#lng').val()+'pp'+$('#province').val()+'pp'+$('#district').val()+'pp'+$('#tumbon').val();
$.post('http://www.infostant.com/ajax/savemap','setdata='+setdata+'&filename=index_th&shopurl='+$('#shopurl',parent.document.body).html()+'&mid='+localStorage.getItem("userId"), function(reposnse)
{

eval("var obj1="+reposnse);
if(obj1.resposne)parent.$.fancybox.close();
});
});   

$('#buttonSearch').click(function(){
if($('#searchmap').val())
{
//alert($(this).val());
if($('#province').val()&&$('#district').val()&&$('#tumbon').val())
{
showAddress($("#province option[value='"+$('#province').val()+"']").text()+' '+$("#district option[value='"+$('#district').val()+"']").text()+' '+$("#tumbon option[value='"+$('#tumbon').val()+"']").text()+' '+$('#searchmap').val());
}else if($('#province').val())
{
showAddress($("#province option[value='"+$('#province').val()+"']").text()+' '+$('#searchmap').val());
}else if($('#province').val()&&$('#district').val())
{
showAddress($("#province option[value='"+$('#province').val()+"']").text()+' '+$("#district option[value='"+$('#district').val()+"']").text()+' '+$('#searchmap').val());
}else
{
showAddress($('#searchmap').val());
}
}

}); 
$('#lat').val(parseFloat($('#lat',parent.document.body).html()));
$('#lng').val(parseFloat($('#lng',parent.document.body).html()));
initialize2(); 

       }
 </script>         


 </head> 
 <body >
 <header>
 </header>

<div  id="datamap">
<p>

                <select size="1" name="province" id="province">
                    <option value="">เลือกจังหวัด</option>
                                                 <option value="101">กระบี่</option>
                                                      <option value="102">กรุงเทพมหานคร</option>
                                                      <option value="103">กาญจนบุรี</option>
                                                      <option value="104">กาฬสินธุ์</option>
                                                      <option value="105">กำแพงเพชร</option>
                                                      <option value="106">ขอนแก่น</option>
                                                      <option value="107">จันทบุรี</option>
                                                      <option value="108">ฉะเชิงเทรา</option>
                                                      <option value="109">ชลบุรี</option>
                                                      <option value="110">ชัยนาท</option>
                                                      <option value="111">ชัยภูมิ</option>
                                                      <option value="112">ชุมพร</option>
                                                      <option value="113">ตรัง</option>
                                                      <option value="114">ตราด</option>
                                                      <option value="115">ตาก</option>
                                                      <option value="116">นครนายก</option>
                                                      <option value="117">นครปฐม</option>
                                                      <option value="118">นครพนม</option>
                                                      <option value="119">นครราชสีมา</option>
                                                      <option value="120">นครศรีธรรมราช</option>
                                                      <option value="121">นครสวรรค์</option>
                                                      <option value="122">นนทบุรี</option>
                                                      <option value="123">นราธิวาส</option>
                                                      <option value="124">น่าน</option>
                                                      <option value="125">บุรีรัมย์</option>
                                                      <option value="126">ปทุมธานี</option>
                                                      <option value="127">ประจวบคีรีขันธ์</option>
                                                      <option value="128">ปราจีนบุรี</option>
                                                      <option value="129">ปัตตานี</option>
                                                      <option value="130">พระนครศรีอยุธยา</option>
                                                      <option value="131">พะเยา</option>
                                                      <option value="132">พังงา</option>
                                                      <option value="133">พัทลุง</option>
                                                      <option value="134">พิจิตร</option>
                                                      <option value="135">พิษณุโลก</option>
                                                      <option value="136">ภูเก็ต</option>
                                                      <option value="137">มหาสารคาม</option>
                                                      <option value="138">มุกดาหาร</option>
                                                      <option value="139">ยะลา</option>
                                                      <option value="140">ยโสธร</option>
                                                      <option value="141">ระนอง</option>
                                                      <option value="142">ระยอง</option>
                                                      <option value="143">ราชบุรี</option>
                                                      <option value="144">ร้อยเอ็ด</option>
                                                      <option value="145">ลพบุรี</option>
                                                      <option value="146">ลำปาง</option>
                                                      <option value="147">ลำพูน</option>
                                                      <option value="148">ศรีสะเกษ</option>
                                                      <option value="149">สกลนคร</option>
                                                      <option value="150">สงขลา</option>
                                                      <option value="151">สตูล</option>
                                                      <option value="152">สมุทรปราการ</option>
                                                      <option value="153">สมุทรสงคราม</option>
                                                      <option value="154">สมุทรสาคร</option>
                                                      <option value="155">สระบุรี</option>
                                                      <option value="156">สระแก้ว</option>
                                                      <option value="157">สิงห์บุรี</option>
                                                      <option value="158">สุพรรณบุรี</option>
                                                      <option value="159">สุราษฎร์ธานี</option>
                                                      <option value="160">สุรินทร์</option>
                                                      <option value="161">สุโขทัย</option>
                                                      <option value="162">หนองคาย</option>
                                                      <option value="163">หนองบัวลำภู</option>
                                                      <option value="164">อำนาจเจริญ</option>
                                                      <option value="165">อุดรธานี</option>
                                                      <option value="166">อุตรดิตถ์</option>
                                                      <option value="167">อุทัยธานี</option>
                                                      <option value="168">อุบลราชธานี</option>
                                                      <option value="169">อ่างทอง</option>
                                                      <option value="170">เชียงราย</option>
                                                      <option value="171">เชียงใหม่</option>
                                                      <option value="172">เพชรบุรี</option>
                                                      <option value="173">เพชรบูรณ์</option>
                                                      <option value="174">เลย</option>
                                                      <option value="175">แพร่</option>
                                                      <option value="176">แม่ฮ่องสอน</option>
                                           </select>

                <select size="1" name="district" id="district">
                    <option value="">เลือกอำเภอ/เขต</option>
                </select>

                <select size="1" name="tumbon" id="tumbon">
                    <option value="">เลือกตำบล/แขวง</option>
                </select>
               
                <input type="hidden" value="" name="lat" id="lat">
                <input type="hidden" value="" name="lng" id="lng">
                   
                 <input type="button" id="save" name="save" value="บันทึก" class="button">
            </p> 
<div id="maparea" style="width: 100%; height: 250px;"></div>    </div>

</body> 


</html> 