header #login a:hover, .dk_container a.dk_toggle:hover { color: #ff9b17 }
header #color { background-color: #ff9b17; } 
header #color h2 { background-image: url(../../../images/shop/restaurant/hd-restaurant.png); }
#main h3 { color: #ff9b17; }
.d-220x90 { position: absolute; left: -10px; top: 145px; }
#social ul { margin: 0 auto; background: none; width: 170px; }
#social ul li { margin-right: 7px;}
#social ul li img { width: 26px!important; height: 26px!important; }
a.button.black1 { margin-top: 15px; background-image: url(../../../images/shop/bg-button-black2.png); }
a.button.black1:nth-child(2) { margin-left: 60px; }
a.button.black2 { margin-left: 60px;  background-image: url(../../../images/shop/bg-button-black2.png);}
.d-676x316 { float: left; margin: 0 20px 20px 0; }
.d-220x160:nth-child(2n+1) { margin-right: 0; }
#topic { color: #ff9b17;  }
article.quote { background: url(../../../images/shop/restaurant/bg-quote-left.png) no-repeat left top; }
article.quote .inner { background: url(../../../images/shop/restaurant/bg-quote-right.png) no-repeat right bottom; padding: 20px 60px; }
#two h3 {  margin-bottom: 15px;}
#main #two { padding-bottom: 0; }
#main h3 { margin-top: 20px; margin-bottom: 10px; }