header #login a:hover, .dk_container a.dk_toggle:hover { color: #2680d7 }
header #color { background-color: #2680d7; color: #fff; } 
header #color h2 { background-image: url(../../../images/shop/home/hd-home.png); }
#main h3 { color: #2680d7; }
.d-220x90 { margin: 0; float: left; background: url(../../../images/shop/bg-220x90-2.png) no-repeat; padding: 10px 30px; float: left; }
a.button.black1 {  margin-right: 5px; float: right; margin: 0; position: relative; right: -5px; height: 57px;}
#social ul { position: relative; top: 30px;}
#topic { color: #2680d7;  }
a.button.black1 { background-image: url(../../../images/shop/bg-button-black2.png);  }
#two td { padding-right: 18px; }
#two td:nth-child(2n) { padding-right: 0; }
article.quote { background: url(../../../images/shop/home/bg-quote-left.png) no-repeat left top; }
article.quote .inner { background: url(../../../images/shop/home/bg-quote-right.png) no-repeat right bottom; padding: 20px 60px; }
a.button.black2 { margin: 20px 0 0 60px; }