header #login a:hover, .dk_container a.dk_toggle:hover { color: #456077 }
header #color { background-color: #456077; } 
header #color h2 { background-image: url(../../../images/shop/other/hd-other.png); }
#main h3 { color: #456077; }
.d-220x90 { float: left; position: relative; left: -20px; top: 25px; }
#social ul { margin: 30px 0 20px 60px;}
#topic { color: #456077;  }
article.quote { background: url(../../../images/shop/other/bg-quote-left.png) no-repeat left top; }
article.quote .inner { background: url(../../../images/shop/other/bg-quote-right.png) no-repeat right bottom; padding: 20px 60px; }
a.button.black1, a.button.black2 { background: url(../../../images/shop/bg-button-blue.png) no-repeat; color: #fff; }
a.button.black2 { margin: 20px 0 0 60px; }
#three a.button.black1 { margin: 20px 0 0;}
#three a.button:nth-child(2) { margin-left: 60px; }
#one .d-220x160 { margin-bottom: 0; }
#one .d-220x160:nth-child(4) { margin-right: 0;  }
.d-676x316 { float: left; margin-right: 20px; }
#two .d-220x160 { margin-right: 0; }