header #login a:hover, .dk_container a.dk_toggle:hover { color: #fc6602 }
header #color { background-color: #2d2d2d; color: #fff; } 
header #color h2 { background-image: url(../../../images/shop/fashion/hd-fashion.png); }
#main h3 { color: #fc6602; }
.d-220x90 { margin: 0 15px 0 0; float: left; background: url(../../../images/shop/bg-220x90-2.png) no-repeat; padding: 10px 30px; }
#social ul { float: right; margin: 25px 0 0; width: 330px; }
a.button.black1 { margin-top: 25px; margin-right: 5px; }
.d-676x316 { float: left; margin: 0 20px 20px 0; }
#topic { color: #fff;  }
#social ul { background: url(../../../images/shop/bg-social2.png) no-repeat; width: 270px; }
#social ul li { margin-right: 8px; }
a.button.black1 { background-image: url(../../../images/shop/bg-button-black2.png); }
.d-306x550 { float: left; }
.d-306x550:nth-child(2) { margin: 0 10px; }
#four td { padding-right: 18px; }
#four td:nth-child(4n) { padding-right: 0; }