header #login a:hover, .dk_container a.dk_toggle:hover { color: #e46955 }
header #color { background-color: #e46955; } 
header #color h2 { background-image: url(../../../images/shop/communication/hd-communication.png); }
#main h3 { color: #e46955; }
.d-220x90 { margin: 0 15px 0 -20px; float: left; }
#social ul { float: right; margin: 25px 0 0; width: 330px; }
a.button.black1 { margin-top: 25px; }
.d-676x316 { float: left; margin: 0 20px 20px 0; }
.d-220x160 { margin-right: 0; }
.d-220x160:nth-child(4), .d-220x160:nth-child(5), .d-220x160:nth-child(6) { margin-right: 20px; }
#topic { color: #e46955;  }