<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta  name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 

<title>Police</title>
<link rel="stylesheet" href="jquery.mobile.min.css" />
    <link rel="stylesheet" href="jquery.mobile.structure.min.css" />
<script src="jquery-1.7.1.min.js"></script>
    <script src="jquery.mobile.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="phonegap-1.2.0.js" charset="utf-8"></script> 
<script src="jquery.mobile.simpledialog.js" charset="utf-8"></script>
<script src="googlejs.js"></script>  
<script>
var webdir="http://www.infostant.com";
var imageData2;
var browserSupportFlag;
function onloadshow()
{
    $(document).delegate('#img-profile', 'click', function() {
  $(this).simpledialog({
    'mode' : 'bool',
    'prompt' : 'Choose Form ?',
    'fullScreen':'true',

    'useModal': true,
    'buttons' : {
      'Camera': {
        click: function () {
         setcamera2();
        }
      },
      'Album': {
        click: function () {
        setalbum2();
        }
      }
      ,
      'cancle': {
        click: function () {

        }
      }
    }
  })
});
}
function onPhotoDataSuccess(imageData) {
      // Uncomment to view the base64 encoded image data
    //  imageURI2=imageData;
      $('#img-profile').attr('src','data:image/jpeg;base64,'+imageData); 
      imageData2=imageData;
       

    }
function submitonserver()
{
      $.post(webdir+'/ajax/submitmyprofileformiphone2',{
                     pic1:imageData2,
                     lat:$('#lat').val(),
                     lng:$('#lng').val()
      }, function(data) {
           //  localStorage.setItem("picme",'data:image/jpeg;base64,'+imageData); 
                  
               navigator.notification.alert("บันทึกเรียบร้อยแล้ว");    
      });
}
function setcamera2(){

               

                navigator.camera.getPicture(onPhotoDataSuccess, onFail, 
                { quality : 100, 
                destinationType : Camera.DestinationType.DATA_URL, 
                sourceType : Camera.PictureSourceType.CAMERA, 
                allowEdit : true,
                encodingType: Camera.EncodingType.JPEG,
                targetWidth: 220,
                targetHeight: 300 }
                );
}
function setalbum2(){

               

                navigator.camera.getPicture(onPhotoDataSuccess, onFail, 
                { quality : 100, 
                destinationType : Camera.DestinationType.DATA_URL, 
                sourceType : Camera.PictureSourceType.PHOTOLIBRARY, 
                allowEdit : true,
                encodingType: Camera.EncodingType.JPEG,
                targetWidth: 220,
                targetHeight: 300 }
                );
    
}
function onFail(message) {
      navigator.notification.alert('Failed because: ' + message);
    }
function addpicme()
{
    
    $('#img-profile').simpledialog({
    'mode' : 'bool',
    'prompt' : 'Choose Form ?',
    'fullScreen':'true',
    'useModal': true,
    'buttons' : {
      'Camera': {
        click: function () {
         setcamera2();
        }
      },
      'Album': {
        click: function () {
        setalbum2();
        }
      },
       'Cancel': {
        click: function () {



            
        },
        icon: "delete",
        theme: "c"
      }
    }
  });
}
function getlocation2(position){
    $('#lat').val(position.coords.latitude);
    $('#lat').val(position.coords.longitude);
   //initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
   var myOptions = {
    zoom: 15,
    center: new google.maps.LatLng(position.coords.latitude,position.coords.longitude),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map.setOptions(myOptions);
  var myLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  marker.setPosition(myLatLng);
 //  calcRoute();   
    //  map.setCenter(initialLocation); 
  //    myMarkers(map,initialLocation); 
      
} 
function getmylocation(){
     if(navigator.geolocation) {

           
           
    browserSupportFlag = true;
 //   var options =  { maximumAge: 3000, timeout: 50000, enableHighAccuracy: true };
   // navigator.notification.alert('1');
    navigator.geolocation.getCurrentPosition(getlocation2,handleNoGeolocation);
  // Try Google Gears Geolocation
  } else if (google.gears) {
 
   //navigator.notification.alert('2');
  // Browser doesn't support Geolocation
  } else {

 //  navigator.notification.alert('3');   
      
  } 
  
    function handleNoGeolocation(errorFlag) {
     // navigator.notification.alert('code: '    + errorFlag.code    + '\n' +
     //         'message: ' + errorFlag.message + '\n');
     
     if(errorFlag.code==2)
     {
         navigator.notification.alert('เปิด GPS ด้วยค่ะ');  
     }else
     {
         navigator.notification.alert(errorFlag.code);
     }

    //map.setCenter(initialLocation);
  }
    
} 
</script>
</head>
<body onload="onLoadMaps2();onloadshow()" >
<div id="index" data-role="page" style=" margin: 0;background: url('bg.jpg'); width:320px ; height:1000px;">
<div style="padding-top: 130px;">
<div id="pic" style="padding: 0 auto; text-align: center;">                    <a href="javascript:void(0);" class="thumb"><img id="img-profile" src="200-130.jpg" alt="" ></a></div>
<div id="maparea" style="margin: 0 auto;width:250px;height:187px"></div>
<div id="buttoncheck"><a onclick="getmylocation()" data-role="button" >Get Location</a><a onclick="submitonserver()"  data-role="button">Submit </a><input type="hidden" value="" id="lat"><input type="hidden" value="" id="lng"></div>
    <br> 
</div>
</div>
</body>
</html>
