.portfolioItemInfo {
    background-image: url("../../images/shop/trans.png");
    bottom: 0px;
    height: auto;
    left: 0px;
    padding-left: 10px;
    position: absolute;
    width: 100%;
    z-index: 99;
    overflow: hidden;
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
    text-align:left;
}

.d-340x60 { width: 340px; height: 60px; margin: 0 0 10px 60px; }

.d-340x113 { width: 340px; height: 113px; margin: 0 0 5px 60px; }

.d-940x440 { width: 940px; height: 440px;  }

.d-820x50 { width: 820px;  }
.d-820x70 { width: 820px;  }
.d-220x160 { float: left; width: 220px; height: 160px; margin: 0 20px 20px 0; }

 .d-340x70, .d-340x190, .d-220x160, .d-220x90, .d-340x60, .d-340x113, .d-940x440, .d-820x50, .d-820x70,.d-100x110,.d-340x190,.d-460x309,.d-220x160,.d-340x60,.d-340x113,.d-940x440,.d-820x50,.d-820x70  { overflow: hidden; }
 
 .font.title.black{
     color: #ffffff;
     font-size: 16px;
     font-weight: bold;
 }
  .font.detail.black,.font.time.black,.font.contact.black{
     color: #ffffff;
     font-size: 14px;
 }
  .font.title.white{
     color: #000000;
     font-size: 16px;
     font-weight: bold;
 }
  .font.detai.white,.font.time.white,.font.contact.white{
     color: #000000;
     font-size: 14px;
 }
 .d-340x70,.d-340x190,.d-340x60,.d-340x113,.d-820x50
 {
     background: none;
 }
 a.edit.map { background: url(../../images/shop/btn-edit-text.png) no-repeat;right: 11px; bottom: 11px; }

  .d-820x70
  {
      background: none;
  }
  .d-220x160 a.edit.img {
    right: 4px;
    z-index: 600;
}
span.new {
    z-index:500;
}
a.zoom {
    background: url("../../images/shop/zoom.jpg") no-repeat scroll 0 0 transparent;
    bottom: 11px;
    left:10px;
    width: 91px;

    height: 24px;
    position: absolute;
    right: 4px;

    z-index: 1000;
}
#at15s {
    background: url(../../../images/shop/atbkg.png) repeat scroll 0 0 transparent;
    float: none !important;
    line-height: 1em !important;
    margin: 0 !important;
    overflow: visible !important;
    padding: 5px !important;
    position: absolute;
    text-align: left !important;
}
#at15s_inner {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    margin: 0;
    
}
#at15s_head {
    background: none repeat scroll 0 0 #F2F2F2;
    border-bottom: 1px solid #E5E5E5;
    cursor: default;
    padding: 4px;
    position: relative;
}
a#at15sptx {
    color: #4C4C4C;
    font-weight: bold;
    right: 4px;
    text-decoration: none;
    top: 4px;
}
#at15s {
    line-height: 1em !important;
    text-align: left !important;
    font-family: arial,helvetica,tahoma,verdana,sans-serif !important;
    font-size: 12px !important;
}
#at15s_brand {
    right: 4px;
    top: 4px;
}
#at15s_brand, #at16_brand, #at15sptx {
    position: absolute;
}
.at15s_brandx {
    right: 20px !important;
}
#at_hover {
    padding: 4px;
}
.d-460x477,.d-460x309,.d-940x440
{
    background: none;
}


 