/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Sappawish Siripon
   ========================================================================== */
a { color: #a3a3a3; text-decoration: none;  }
header a:hover { color: #f4d441; }
#main a:hover { color: #fff;}
body { background: #141414; font-family: Arial, Helvetica, Tahoma; font-size: 14px; line-height: 140%;  }
body.white { background: #f2f2f2; }
header { width: 100%; background: #fff; border-bottom: solid 1px #fff; position: relative; z-index: 5; }
header div.inner { width: 940px; padding: 0 10px; margin: 0 auto; }
header h1, header h2, header h3, header p { margin: 0; }
header #color { position: relative; width: 100%; height: 45px; }
header h1 a { width: 170px; height: 62px; background: url(../../images/shop/logo.jpg) no-repeat; float: left; }
header h2 { display: none; }
header h3 { width: 180px; height: 62px; float: left; background: url(../../images/shop/header-h3.png) no-repeat;  }
#color h2 { float: left; height: 45px; background-position: left center; width: 40%; }
#color p { text-align: right; padding-top: 3px; position: relative; padding-right: 94px; }

#color p label { display: inline-block; padding: 0 10px 0 15px; position: relative; top: 2px;  }
.webkit #color p label { top: 13px; }
.ie7 #color p label { top: 4px; }
#login { display: block; float: right; color: #a3a3a3; padding: 10px 0 0; line-height: 180%;  }
#login a { font-size: 12px; display: inline-block; padding: 0 5px; }
#login input { margin-left: 5px; }
#login input[type=text], #login input[type=password] { width: 84px; height: 25px; background: url(../../images/shop/bg-input.png) no-repeat; border: none; padding: 0 5px; color: #A3A3A3; }
.ie #login input[type=text], .ie #login input[type=password] { line-height: 23px; }
#login input.login { background: url(../../images/shop/btn-black.png) no-repeat; border: none; color: #fff; width: 63px; height: 25px; position: relative; top: -1px; font-size: 11px; }

#main { width: 940px;  border: solid 1px #333; min-height: 400px; display: block; margin: 0 auto; border-top: none; padding: 10px; position: relative; background: #262626; margin-bottom: 55px;  }
body.white #main { background: #fff; border-color: #d9d9d9; }
footer { background-color: #141414; height: 45px; line-height: 45px; color: #4f4f4f; font-size: 11px; padding: 0 10px;  }
body.white footer { background-color: #f2f2f2; }

#main h3 { margin: 10px 0 5px; }
footer p { display: block; float: left; margin: 0; }
footer p.right { width: 70%; float: right; text-align: right; }
label.inner { position: absolute; margin: 1px 0 0 12px; }
div { position: relative; }
#main section { padding: 10px 0; }
article.left { width: 460px; display: block; float: left; }
article.right { width: 460px; display: block; float: right; }
article.quote { background: url(../../images/shop/bg-quote-left.png) no-repeat left top; }
article.quote .inner { background: url(../../images/shop/bg-quote-right.png) no-repeat right bottom; padding: 20px 60px; }
#social ul { display: block; width: 349px; height: 63px; margin-left: 60px; background: url(../../images/shop/bg-social.png) no-repeat; line-height: 53px; padding-left: 17px; }
#social ul li { margin: 0 18px 0 0;}
#social > p { padding-left: 60px; }
.ie7 #social ul li { position: relative; top: 13px; }


/* Button */
header #color a.button { width: 24px; height: 24px; display: inline-block; position: relative; top: 8px;  }
a.button.white { background-color: #fff; border-radius: 3px; }
a.button.black { background-color: #000; border-radius: 3px; }
a.edit { width: 25px; height: 24px; position: absolute; right: 4px; bottom: 4px; z-index: 100;  }
a.edit.img { background: url(../../images/shop/btn-edit-img.png) no-repeat; }
a.edit.text { background: url(../../images/shop/btn-edit-text.png) no-repeat;}
a.edit.vdo { background: url(../../images/shop/btn-edit-vdo.png) no-repeat;}
a.button.add { background: url(../../images/shop/btn-add.png) no-repeat; width: 25px; height: 24px; position: relative;  }

a.button.black1 { width: 169px; height: 63px; display: inline-block; line-height: 54px; text-align: center;  background: url(../../images/shop/bg-button-black1.png) no-repeat; font-size: 18px; margin-right: 5px; }

a.button.black2 { width: 169px; height: 63px; font-size: 18px; line-height: 55px; background: url(../../images/shop/bg-button-black1.png) no-repeat; display: block; text-align: center; margin: 20px auto 0;}

/* Dimension */
span.label { display: block; position: absolute; text-align: center; top: 50%; left: 0; margin-top: -14px; z-index: 1; width: 100%; color: #6e6e6e; font-size: 24px;  }
div img { position: relative; z-index: 2 }
 .d-340x70, .d-340x190, .d-220x160, #map, .d-340x60, .d-340x113, .d-940x440, .d-820x50, .d-820x70, .d-220x38, .d-460x477, .d-940x350, .d-940x400, .d-313x440 { background: #e1e1e1; display: block; }
.d-220x90 { width: 220px; height: 90px; display: block; margin: 0 auto; padding: 10px; background: url(../../images/shop/bg-220x90.png) no-repeat; box-shadow: 0 0 7px rgba(0,0,0,0.2);}
.d-220x90 a.edit { right: 13px; bottom: 13px; }
/* .d-220x90 span.label { display: none; } */

.d-100x110 { width: 100px; height: 110px; display: block; float: left; margin-right: 20px; background: url(../../images/shop/bg-100x110.png) no-repeat;  }
.d-100x110 span.label { font-size: 18px; }
.d-100x110:nth-child(4n) { margin-right: 0; }

.d-313x440 {  width: 313px; height: 440px; display: block; float: left; margin: 0; }
.d-313x440:nth-child(2n+1) { background: #f2f2f2; }

.d-340x70 { width: 340px;  margin-bottom: 10px;height: 70px; }
.d-340x190 {  width: 340px; height: 190px; }

.d-460x309 { display: block; width: 460px; height: 309px; background: url(../../images/shop/bg-460x309.png) no-repeat; }

.d-220x160 { float: left; width: 220px; height: 160px; margin: 0 20px 20px 0; }
.d-220x160 a.edit.img { right: 33px; }

.d-340x60 { width: 340px; height: 60px; margin: 0 0 10px 60px; }

.d-340x113 { width: 340px; height: 113px; margin: 0 0 5px 60px; }
.d-436x696 { width: 436px; height: 696px; background: url(../../images/shop/bg-436x696.png) no-repeat; padding: 12px; }

.d-940x440 { width: 940px; height: 440px;  }
.d-940x310 { width: 940px; height: 310px; background: url(../../images/shop/bg-940x310.png) no-repeat; }
.d-940x370 { width: 940px; height: 370px; background: url(../../images/shop/bg-940x370.png) no-repeat; }

.d-820x50 { width: 820px; height: 50px; }
.d-820x70 { width: 820px; height: 70px; }

.d-676x316 { width: 676px; height: 316px; background: url(../../images/shop/bg-676x316.png) no-repeat; /* border: solid 12px #e0e0e0; */ padding: 12px; }
.d-676x402 { width: 676px; height: 402px; background: url(../../images/shop/bg-676x402.png) no-repeat;  padding: 12px; }

.d-306x550 { width: 306px; height: 550px;  background: url(../../images/shop/bg-306x550.png) no-repeat; }
.d-208x148 { width: 208px; height: 148px; background: url(../../images/shop/bg-208x148.png) no-repeat; padding: 6px; }
.d-220x38 { width: 220px; height: 38px; margin: 5px 0 12px; }

.d-460x477 { width: 460px; height: 477px; }
.d-940x360 { width: 940px; height: 360px; background: url(../../images/shop/bg-940x360.png) no-repeat; }
.d-940x350 { width: 940px; height: 350px;  }
.d-940x400 { width: 940px; height: 400px; } 
.d-940x308 { width: 940px; height: 308px; background: url(../../images/shop/bg-940x308.png) no-repeat; }

.d-460x260 { width: 460px; height: 260px; display: block; float: left; margin: 0 20px 20px 0; background: url(../../images/shop/bg-460x260.png) no-repeat; }
.d-460x162 { width: 460px; height: 162px; display: block; background: url(../../images/shop/bg-460x162.png) no-repeat; }

span.new { display: block; width: 46px; height: 46px; text-indent: -1000em; position: absolute; background: url(../../images/shop/icon-new.png) no-repeat; right: -10px; top: -10px; }

#clip { width: 446px; height: 300px; display: block; border: solid 7px #000; background: url(../../images/shop/bg-clip.png) no-repeat left bottom; }
#clip a.edit { bottom: 48px; }
#clip span.label { margin-top: -28px; }
#map { width: 445px; height: 300px; display: block; border: solid 7px #000; }
.data { background: transparent; color: #fff; }
.data p { margin-top: 0; }
#topic { font-weight: bold; font-size: 16px; }
#topic span.label { font-weight: normal; }






/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
