<div id="social-contact" data-role="page" >
    <div data-role="header" data-position="fixed" data-fullscreen="true" data-transition="slide">
        <div>
            <a href="index.html"  data-inline="true" data-direction="reverse"  data-rel="back">Back</a>
            <h1><a href="index.html" data-transition="flip">infostant</a></h1>
            <nav>
                <ul class="h">
                    <li><a href="search.html" data-transition="slide">search</a></li>
                    <li><a class="functionclick2" href="#">Place</a></li>
                    <li><a class="functionclick" href="#">Member</a></li>
                    <li><a href="directory.html" data-transition="slide">directory</a></li>
                </ul>
            </nav>
        </div>
        <div  id="function">
            <ul class="v">
            	<li><a href="message.html"><span>Message</span></a></li>
                <li><a href="index.html#memory"><span>Personal Memory</span></a></li>
                <li><a href="favarite.html"><span>Favorite</span></a></li>
                <li><a href="calendar.html"><span>Calendar / Itenary</span></a></li>
                <li><a href="add_friend.html"><span>Friends</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="setting.html"><span>Settings</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
        <div  id="function2">
            <ul class="v">   
                <li><a href="notification.html"><span>Notification</span></a></li>
                <li><a href="index.html#shop"><span>Shop</span></a></li>
                <li><a href="promotion.html"><span>Promotion</span></a></li>
                <li><a href="#"><span>Coupon</span></a></li>
                <li><a href="qr.html"><span>QR Reader</span></a></li>
            </ul>
            <a href="javascript:void(0);" class="close">Close Function</a>
        </div> <!-- #function -->
    	</div><!-- /header -->
	<div data-role="content">	
        <div  id="contact-bar">
             
                    <fieldset data-role="controlgroup" data-type="horizontal">
                             <input type="radio" name="radio-choice-a" id="radio-choice-a" value="on" checked="checked" />
                             <label for="radio-choice-a"><span class="alignbox"><span class="icon icon-contact">Contact</span></span></label>
                             <input type="radio" name="radio-choice-a" id="radio-choice-b" value="off" />
                             <label for="radio-choice-b"><span class="alignbox"><span class="icon icon-refer">RFCode</span></span></label>
                             <input type="radio" name="radio-choice-a" id="radio-choice-c" value="off" />
                             <label for="radio-choice-c"><span class="alignbox"><span class="icon icon-qr">QRCode</span></span></label>
                    </fieldset>
                    
       </div>
		<h2>Contact<span class="link"><a href="#" class="pencil">edit</a><a href="#" class="magnifer">search</a></span></h2>
		<ul id="share" class="h">
			<li><a href="#">infotstant</a></li>
			<li><a href="#">facebook</a></li>
			<li><a href="#">twitter</a></li>
			<li><a href="#">google+</a></li>
			<li><a href="#">email</a></li>
		</ul>
		<div class="subpage">
        <h3>A</h3>
			<ul class="v">
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-01.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Pongneng</a></strong><br />
                        description here.<br />
						E-mail: friend@mail.com<br />
						Tel. 08-75222-7522

				</li>
                <li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-01.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Oat Indy</a></strong><br />
                        description here.<br />
						E-mail: friend@mail.com<br />
						Tel. 08-75222-7522

				</li>
			</ul>
            <h3>S</h3>
			<ul class="v">
				<li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-01.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Pongneng</a></strong><br />
                        description here.<br />
						E-mail: friend@mail.com<br />
						Tel. 08-75222-7522

				</li>
                <li>
					<a href="detail.html" class="thumb">
						<img src="images/thumb-sub-01.jpg" alt="Sub-Category Name" />
					</a>
					<strong><a href="detail.html">Oat Indy</a></strong><br />
                        description here.<br />
						E-mail: friend@mail.com<br />
						Tel. 08-75222-7522

				</li>
			</ul>
		</div>
	</div><!-- /content -->
</div><!-- /page -->