 <!DOCTYPE html> 
<html> 
    <head> 
    <title>DIGITDI : Digital Directory</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 
     <script type="text/javascript" charset="utf-8" src="phonegap-1.2.0.js"></script>
    <link rel="stylesheet" href="css/jquery.mobile-1.0.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script> 
<!--     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script> -->
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="jquery.mobile-1.0.min.js"></script>

    <script src="jquery.css3finalize.min.js"></script>

    <script src="cookie.js"></script>
    <script type="text/javascript" charset="utf-8">  
    var webdir="http://www.infostant.com";
    var  username='';
    var userid="";
    var db; 
       function logoutserver()
       {
             if(localStorage.getItem("username")){
                               localStorage.setItem("userId",'');
                               localStorage.setItem("username",''); 
                               navigator.notification.alert('ออกจากระบบเรียบร้อยแล้ว');   
                               }
                               
             location.href="login.html";  
       } 
      function loginserver()
      {     var errorcode='';
             if($('#userid').val()=="")
                     {
                        if($('#email').val()=="")
                         {
 
                          errorcode='โปรดกรอก Email';  
                         } 
                        else if($('#username').val()=="")
                         {
 
                          errorcode='โปรดกรอก Username';  
                         }
                        else  if($('#password1').val()=="")
                         {
                          errorcode='โปรดกรอก Password';    
                         }
                      

                     }
                if(errorcode!="")
                         {
                             alert(errorcode); 
                             return false;
                         } 
                $.post(webdir+'/ajax/loginformiphone',{username:$('#username').val(),password1:$('#password1').val() }, function(data) {
                var myObject = eval('(' + data + ')');             
                    if(myObject.error)
                           {
                              navigator.notification.alert(myObject.error);
                              //    $('#buttonSave').attr("disabled", "false"); 
                                // return false;
                           }else  if(myObject.mid)
                           {
                               if(!localStorage.getItem("userId")){
                               localStorage.setItem("userId",myObject.mid);
                               localStorage.setItem("username",myObject.username); 
                               }
                               navigator.notification.alert('เข้าสู่ระบบเรียบร้อยแล้ว'); 
                            
                                
                               location.href="login.html";
                           }
                });
      } 
             function jsonpCallback(myObject){  
                    $('#shopdata').html('');
                    
                    for (variable in myObject)
             {   
          //   alert(variable) ;
             var obj = myObject[variable]; 
                    
                    $('#shopdata').append('<li><a data-ajax="false"   href="profile.html?shopurl='+obj.shopurl+'">'+obj.shopname+'</a></li>');
                    
             }
             }
          $(document).ready(function() { 
            if(localStorage.getItem("userId"))
              {
                $("#userid").val(localStorage.getItem("userId"));  
                 $("#member1").hide(); 
                 $("#showname").html(localStorage.getItem("username"));
                 $("#member2").show(); 
              
                    $.ajax({
                                                      data: {mid: localStorage.getItem("userId")},                                                            
                                                      url: webdir+'/ajax/getshoplistbyuserid',
                                                      dataType: "jsonp",
                                                      jsonp: 'callback',
                                                      jsonpCallback: 'jsonpCallback', 
                                                      crossDomain:true,
                                                      xhrFields: {
                                                      withCredentials: true
                                                      },
                                                       success: function(myObject){
                                               
                                                      }
                                                    });
              
              
              }else
              {
                  $("#member1").show();
              }
              
          });  
          

          
          
 
     


    </script>
 
         </head>
    
    <body >
                      <header>
                      </header> 
           <article>             
          <div data-role="page" id="register"> 
        <div data-role="header">
            <a data-ajax="false" href="index.html" >Back</a>
            <h3 id="cattitle">login</h3>
        
        </div> 
        <div data-role="content" class="subpage">
         <form name="registersummit" id="registersummit" onsubmit="return loginserver()">
                            <div id="member1" class="ui-body ui-body-c">
                <h2>Member Information</h2>


                <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                    <label for="switch-c" id="switch-c-label" class="ui-slider">ชื่อสมาชิก</label>
                    <input type="text" value="" id="username" name="username" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset">  
                </div>
                
                <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                    <label for="switch-c" id="switch-c-label" class="ui-slider">รหัสผ่าน</label>
                    <input type="password" value="" id="password1" name="password1" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset">  
                </div>
                
             <div class="ui-body ui-body-c">
                  <fieldset class="ui-grid-a">
                  <input type="hidden" id="userid" name="userid" value="">
                <div class="ui-block-a"><button data-theme="d" type="button" class="ui-btn-hidden" aria-disabled="false">Cancel</button></div>
                <div class="ui-block-b"><button data-theme="a" id="buttonSave" name="buttonSave" onclick="loginserver()"  type="button" class="ui-btn-hidden" aria-disabled="false">Submit</button></div>
                </fieldset>
                </div>

                </div> 
                
                <div id="member2" style="display: none;" class="ui-body ui-body-c">
                <h2>Member Information</h2>


                <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                    <label for="switch-c" id="switch-c-label" class="ui-slider">ชื่อสมาชิก</label>
                     <label  for="switch-c" id="switch-c-label" class="ui-slider"><span id="showname"></span></label>
                </div>
                
    
                
             <div class="ui-body ui-body-c">
                  <fieldset class="ui-grid-a">
                  <input type="hidden" id="userid" name="userid" value="">
                <div class="ui-block-a"><button data-theme="d" type="button" class="ui-btn-hidden" aria-disabled="false">Cancel</button></div>
                <div class="ui-block-b"><button data-theme="a" id="buttonSave" name="buttonSave" onclick="logoutserver()"  type="button" class="ui-btn-hidden" aria-disabled="false">Logout</button></div>
                </fieldset>
                </div>
                 <h2>Shop Information</h2>   
                 <div class="ui-body ui-body-c">
                 <ul  id="shopdata">
                    <li><a data-ajax="false" id="searchlink"  href="search.html">Search</a></li>

                </ul>
                </div>

                </div>
                
         </form>
               
        
        </div> 
        <div data-position="fixed" data-role="footer">
            <nav>
                <ul class="h">
                    <li><a data-ajax="false" id="searchlink"  href="search.html">Search</a></li>
                    <li><a data-ajax="false" id="registerlink"  href="register.html">Login</a></li>
                    <li><a href="javascript:void(0);">Alert</a></li>
                    <li><a data-ajax="false" id="helplink"  href="help.html">FAQ</a></li>  
                </ul>
            </nav>
        </div> 
    </div>
            </article> 
            
            <footer>  

    </footer>
    </body>
    
</html>